
.ui-icon-triangle-2-n-s {
    background-position: -67px -16px;
    margin-top: 2px;
}

button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
    color: rgb(117, 117, 117);
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    border-radius: 5px !important;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-align-last: left;
    height: 31px;
    margin-left: 7px;
}

    button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all.ui-state-active {
        color: #fff;
    }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #017940;
    background: #017940;
}

button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all span:nth-child(even) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}






.bordertopbottom {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    height: 55px;
    margin-left: 15px;
    margin-right: 15px;
}

.wizard-header-contenedor {
    color: #017940;
    font-size: 14px;
    font-weight: bold;
    font-family: "Open Sans",sans-serif;
}

.wizard-header-contenedor {
    width: 140px;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 18px;
    border-bottom: 5px solid transparent;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.whc-selected {
    border-bottom: 5px solid #017940;
}

.wizard-header-contenedor-grupo {
    width: 100%;
    text-align: center;
}

#agregarTelefono,
#agregarMail,
#eliminarMail2,
#eliminarMail3,
#eliminarMail4,
#eliminarTelefono2,
#eliminarTelefono3,
#eliminarTelefono4 {
    width: 22px;
    height: 22px;
    cursor: pointer;
    position: absolute;
    right: -25px;
    top: 7px;
}

.campo-estadoafip img,
.campo-estadoafip-corredor img {
    width: 14px;
    height: 14px;
    vertical-align: -webkit-baseline-middle;
}

#formulario-contacto,
#formulario-almacenamiento,
#formulario-basico,
#formulario-produccion,
#formulario-establecimiento,
#formulario-contactocomercial,
#formulario-proveedorescorredor {
    width: 550px;
    margin: 0 auto;
}

#formulario-contacto h2,
#formulario-basico h2,
#formulario-almacenamiento h2,
#formulario-produccion h2,
#formulario-establecimiento h2,
#formulario-contactocomercial h2,
#formulario-proveedorescorredor h2 {
    text-align: center;
    font-size: 23px;
    color: #424242;
    font-family: "G-Open Sans-n4", Arial;
    font-weight: normal;
}

.formulario {
    margin-top: 35px;
}

.campo-span {
    color: #b8b8b8;
    font-weight: bold;
    font-size: 14px;
    font-family: "G-Open Sans-n4", Arial;
    float: left;
    height: 38px;
    padding-top: 7px;
}

#razonsocial {
    background-color: #f7f7f7;
}

.campo-input-text {
    border-color: rgb(209, 209, 209);
    border-width: 1px;
    color: rgb(51, 51, 51);
    padding: 0px 10px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    /*font-family: Roboto;*/
    border-radius: 3px !important;
    border-style: solid;
    width: 274px;
    height: 38px;
    margin-right: 0px;
}

.formulario-campo {
    margin-bottom: 10px;
    text-align: right;
    position: relative;
}

.formulario-procedencia {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}

.proc-input {
    width: 490px !important;
}

.campo-estadoafip {
    background-color: rgba(150, 235, 198, 0.45);
    width: 274px;
    text-align: right;
    margin-left: 275px;
    margin-top: 5px;
    border-width: 0px;
    border-radius: 3px !important;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    height: 28px;
    text-align: left;
    position: relative;
}

.campo-estadoafip-corredor {
    background-color: rgba(150, 235, 198, 0.45);
    width: 274px;
    margin-top: 5px;
    margin-left: 15px;
    border-width: 0px;
    border-radius: 3px !important;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    height: 28px;
    text-align: left;
}

.campo-estadoafip-span,
.campo-estadoafip-span-corredor {
    font-size: 14px;
    color: #757575;
    font-weight: bold;
    font-family: "G-Open Sans-n4", Arial;
    vertical-align: -webkit-baseline-middle;
    padding: 10px;
    padding-right: 0;
}

.campo-estadoafip-span-operable,
.campo-estadoafip-span-operable-corredor {
    vertical-align: -webkit-baseline-middle;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    font-family: "G-Open Sans-n4", Arial;
    padding-left: 5px;
}


.concom-intereses button,
.campo-provincia button,
.campo-provincia-almacenamiento button,
.campo-localidad button,
.campo-localidad-almacenamiento button,
.campo-segmentacion button,
.campo-granos button,
campo-granos-almacenamiento button,
.campo-condicion button,
.campo-destinatario button,
.campo-operacion button,
.campo-calificacion button,
.campo-comisionista button,
/*.campo-tiptelefono button,*/
.campo-input-select {
    color: rgb(117, 117, 117);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px !important;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-align-last: left;
    width: 274px;
    height: 38px !important;
    margin-right: 0px;
    vertical-align: middle;
}

.datos-del-contacto,
.datos-basicos-comentario,
.datos-produccion-cap-prod {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #757575;
    font-weight: bold;
    font-size: 14px;
    font-family: "G-Open Sans-n4", Arial;
}

.datos-produccion-cap-prod {
    font-size: 16px;
}

#Email1,
#Email2,
#Email3,
#Email4,
#Telefono1,
#Telefono2,
#Telefono3,
#Telefono4,
#concom-Telefono1,
#concom-Telefono2,
#concom-Telefono3,
#TipoTelefono1,
#TipoTelefono2,
#TipoTelefono3,
#TipoTelefono4,
#concom-TipoTelefono1,
#concom-TipoTelefono2,
#concom-TipoTelefono3 {
    margin-right: 0px;
}



.campo-tiptelefono button,
#TipoTelefono1,
#TipoTelefono2,
#TipoTelefono3,
#TipoTelefono4,
#concom-TipoTelefono1,
#concom-TipoTelefono2,
#concom-TipoTelefono3 {
    color: rgb(117, 117, 117) !important;
    border-width: 1px !important;
    border-color: rgb(200, 200, 200) !important;
    border-style: solid !important;
    border-radius: 3px !important;
    font-size: 13px !important;
    font-weight: bold !important;
    font-style: normal !important;
    text-align: left !important;
    text-align-last: left !important;
    width: 120px !important;
    height: 38px !important;
    float: left !important;
}


#concom-TipoTelefono1,
#concom-TipoTelefono2,
#concom-TipoTelefono3 {
    margin-left: 60px;
}

#concom-TipoTelefono2,
#concom-TipoTelefono3 {
    margin-top: 5px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgb(117, 117, 117);
    font-size: 14px;
    font-family: "G-Open Sans-n4", Arial;
    opacity: 0.5;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(117, 117, 117);
    font-size: 14px;
    font-family: "G-Open Sans-n4", Arial;
    opacity: 0.5;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(117, 117, 117);
    font-size: 14px;
    font-family: "G-Open Sans-n4", Arial;
    opacity: 0.5;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(117, 117, 117);
    font-size: 14px;
    font-family: "G-Open Sans-n4", Arial;
    opacity: 0.5;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(117, 117, 117);
    font-size: 14px;
    font-family: "G-Open Sans-n4", Arial;
    opacity: 0.5;
}

#comentario-contacto,
#comentario {
    background-color: rgb(255, 255, 255);
    border-color: rgb(209, 209, 209);
    border-width: 1px;
    color: rgb(51, 51, 51);
    padding: 0px 10px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    /*font-family: Roboto;*/
    border-radius: 3px !important;
    border-style: solid;
    width: 99%;
    height: 80px;
    margin-right: 50px;
}

.formulario-footer {
    width: 450px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: right;
}

.formulario-footer-cancelar,
.modal-cancelar,
.formulario-footer-guardar-contacto,
#GuardarContactoComercial,
#GuardarProveedorCorredor,
.modal-guardar-contacto,
.formulario-footer-siguiente,
.modal-salir-sin-guardar,
.datos-almacenamiento-cap-prod-editor-contenedor-guardar,
.datos-produccion-cap-prod-editor-contenedor-guardar {
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}

.modal-salir-sin-guardar,
.formulario-footer-cancelar {
    color: #26337b;
    font-size: 12px;
    font-family: "G-Open Sans-n4", Arial;
}

    .modal-salir-sin-guardar:hover,
    .formulario-footer-cancelar:hover {
        text-decoration: underline;
    }

.modal-guardar-contacto,
.formulario-footer-guardar-contacto,
#GuardarContactoComercial,
#GuardarProveedorCorredor,
.datos-almacenamiento-cap-prod-editor-contenedor-guardar,
.datos-produccion-cap-prod-editor-contenedor-guardar,
.formulario-footer-siguiente,
.modal-cancelar {
    padding: 0px;
    border-width: 1px;
    border-radius: 3px !important;
    border-color: rgb(38, 51, 123);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    width: 183px;
    height: 37px;
    color: rgb(38, 51, 123);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    padding-top: 8px;
}

.invertir-boton-Guardar {
    border-color: rgb(255, 255, 255) !important;
    background-color: rgb(38, 51, 123) !important;
    color: rgb(255,255,255) !important;
}

    .invertir-boton-Guardar:hover {
        background-color: rgb(255, 255, 255) !important;
        border-color: rgb(38, 51, 123) !important;
        color: rgb(38, 51, 123) !important;
    }

.modal-cancelar,
.formulario-footer-siguiente {
    background-color: rgb(38, 51, 123);
    color: rgb(255, 255, 255);
}

    .modal-cancelar:hover,
    .formulario-footer-siguiente:hover {
        color: rgb(38, 51, 123);
        background-color: rgb(255, 255, 255);
    }

.modal-guardar-contacto:hover,
.formulario-footer-guardar-contacto:hover,
#GuardarContactoComercial:hover,
#GuardarProveedorCorredor:hover,
.datos-almacenamiento-cap-prod-editor-contenedor-guardar:hover,
.datos-produccion-cap-prod-editor-contenedor-guardar:hover {
    background-color: rgb(38, 51, 123);
    color: rgb(255, 255, 255);
}

#formulario-produccion,
#formulario-establecimiento,
#formulario-almacenamiento,
#formulario-contactocomercial,
#formulario-proveedorescorredor {
    display: none;
}


.campo-provincia button,
.campo-provincia-almacenamiento button,
.campo-localidad button,
.campo-localidad-almacenamiento button,
.campo-granos button,
.campo-granos-almacenamiento button,
.campo-provincia-produccion button,
.campo-localidad-produccion button,
.campo-sin-span {
    width: 542px !important;
    margin: 0 auto;
}

.campo-provincia-almacenamiento button,
.campo-provincia-produccion button,
.campo-localidad-almacenamiento button,
.campo-localidad-produccion button,
.campo-sin-span-produccion {
    width: 516.716px !important;
    margin: 0 auto !important;
}

#direccion {
    display: inline-block;
    width: 70%;
    margin-right: 15px;
}

#direccion-provcorr {
    display: inline-block;
    width: 100%;
    margin-right: 15px;
}

#codpost {
    display: inline-block;
    width: 25%;
}

#codpost-provcorr {
    display: inline-block;
    width: 100%;
}


#codpost::-webkit-input-placeholder {
    text-align: center;
}

#codpost:-moz-placeholder {
    text-align: center;
}

#codpost::-moz-placeholder {
    text-align: center;
}

#codpost:-ms-input-placeholder {
    text-align: center;
}

#codpost-provcorr::-webkit-input-placeholder {
    text-align: center;
}

#codpost-provcorr:-moz-placeholder {
    text-align: center;
}

#codpost-provcorr::-moz-placeholder {
    text-align: center;
}

#codpost-provcorr:-ms-input-placeholder {
    text-align: center;
}

.formulario-campo-radio {
    display: inline-block;
    width: 300px;
    text-align: center;
}

    .formulario-campo-radio label {
        margin: 0;
        margin-right: 30px;
    }

.datos-almacenamiento-cap-prod-editor-contenedor,
.datos-produccion-cap-prod-editor-contenedor {
    background-color: rgb(230, 230, 230);
    padding: 10px;
    border: 1px solid #d1d1d1;
    border-radius: 3px !important;
    margin-bottom: 20px;
}

.datos-almacenamiento-cap-prod-editor-titulo,
.datos-produccion-cap-prod-editor-titulo {
    color: #121212;
    font-family: "G-Open Sans-n4", Arial;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
}

#latitud,
#longitud,
#kmz,
#kmz-establecimiento,
.coordenadas {
    background-color: rgb(252, 252, 252);
    border: 1px solid rgb(209, 209, 209);
    border-radius: 3px !important;
    color: rgb(51, 51, 51);
    padding: 0px 10px;
    font-size: 11px;
    width: 117px;
    height: 24px;
}

    .coordenadas::-webkit-input-placeholder {
        font-size: 11px;
    }

    .coordenadas:-moz-placeholder {
        font-size: 11px;
    }

    .coordenadas::-moz-placeholder {
        font-size: 11px;
    }

    .coordenadas:-ms-input-placeholder {
        font-size: 11px;
    }

.datos-almacenamiento-cap-prod-editor-granos-contenedor,
.datos-produccion-cap-prod-editor-granos-contenedor {
    border-top: 1px solid rgb(207, 207, 207);
    border-bottom: 1px solid rgb(207, 207, 207);
    padding-top: 10px;
    padding-bottom: 10px;
}

.almacenamiento-titulo-grano,
.produccion-titulo-grano,
almacenamiento-titulo-hastn,
.produccion-titulo-hastn {
    display: inline-block;
    color: #757575;
    font-family: "G-Open Sans-n4", Arial;
    font-size: 14px;
    font-weight: bold;
}

.almacenamiento-titulo-grano,
.produccion-titulo-grano {
    width: 28%;
}

.almacenamiento-titulo-hastn,
.produccion-titulo-hastn {
    width: 20%;
}

.campo-granos-almacenamiento button,
.campo-granos button,
.grano {
    width: 25% !important;
    margin-top: 5px !important;
    vertical-align: top !important;
    height: 38px !important;
}

    .grano:last-of-type {
        margin-left: 19px;
    }

.hectareas,
.toneladas,
.porcentajeAlmacenamiento,
.toneladasAlmacenamiento {
    width: 18%;
    margin-top: 5px;
    margin-left: 20px;
}

    .toneladas:last-of-type {
        margin-left: 16px;
    }

.agregargrano-almacenamiento,
.agregargrano,
.agregargrano-almacenamientograno,
.agregargranoObjetivo {
    cursor: pointer;
    display: inline-block;
    color: #26337b;
    font-size: 12px;
    font-weight: bold;
    font-family: "G-Open Sans-n4", Arial;
    margin-top: 10px;
}

    .agregargrano-almacenamiento:hover,
    .agregargrano:hover,
    .agregargranoObjetivo:hover,
    .agregargrano-almacenamientograno:hover {
        text-decoration: underline;
    }

.datos-almacenamiento-cap-prod-editor-contenedor-guardar,
.datos-produccion-cap-prod-editor-contenedor-guardar {
    margin-top: 10px;
}

.datos-almacenamiento-cap-prod-editor-granos-cantidades-grupo,
.datos-almacenamiento-cap-prod-editor-granosalm-cantidades-grupo,
.datos-produccion-cap-prod-editor-granos-cantidades-grupo {
    position: relative;
}

.eliminarGrano-almacenamiento,
.eliminarGrano,
.eliminarGrano-almacenamientograno,
.eliminarObjetivo {
    position: absolute;
    right: -7px;
    top: 13px;
    width: 22px;
    height: 22px;
    cursor: pointer;
    display: none;
}

.eliminarGrano-almacenamientograno,
.eliminarObjetivo,
.eliminarGrano,
.eliminarGrano-almacenamiento {
    display: block;
}

.linea-separador-agenda {
    border: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 10px;
}

.datos-contacto-cap-prod-subt {
    color: #757575;
    font-family: "G-Open Sans-n4", Arial !important;
    font-size: 14px;
    font-weight: bold;
}

.agregar-detalle-volumen {
    margin-top: 10px;
    margin-left: 15px;
    color: #26337b;
    font-family: "G-Open Sans-n4", Arial !important;
    font-size: 14px;
    font-weight: bold;
}


#modalSalir {
    display: none;
}

    #modalSalir p {
        margin: 0;
    }

/*#modalSalir */ .modal-header button {
    width: 15px;
    height: 15px;
}

/*.datos-produccion-cap-prod-guardados*/
.datos-produccion-cap-prod-guardados-contenedor {
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.datos-produccion-cap-prod-guardados-zona {
    display: inline-block;
    color: #757575;
    font-family: arial;
    font-size: 12px;
}

div.eliminar-produccion {
    display: inline-block;
    color: #26337b;
    font-family: "G-Open Sans-n4", Arial !important;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    float: right;
    margin-right: 30px;
}

.editar-produccion img {
    width: 15px;
    height: 15px;
}

div.editar-produccion {
    display: inline-block;
    float: right;
    color: #26337b;
    font-size: 12px;
    font-family: "G-Open Sans-n4", Arial !important;
    font-weight: bold;
    margin-right: 30px;
}

.datos-produccion-cap-prod-guardados-hectareas {
    font-family: Arial;
    color: #b0b0b0;
    font-size: 12px;
}

.granos-contenedor-titulo {
    padding-top: 10px;
    padding-left: 10px;
    color: #000;
    font-family: "G-Open Sans-n4", Arial !important;
    font-size: 14px;
    font-weight: bold;
}

.granos-contenedor-has-tns {
    color: #757575;
    font-size: 14px;
    margin-left: 20px;
    font-family: "G-Open Sans-n4", Arial !important;
}

    .granos-contenedor-has-tns:last-of-type {
        margin-bottom: 10px;
    }


.editar-produccion {
    cursor: pointer;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .inputfile + label {
        font-weight: bold;
        color: white;
        display: inline-block;
        margin: 0;
        padding: 0;
        border-radius: 50px !important;
        background-color: #017940;
    }

.img-circular {
    width: 30px;
    height: 30px;
    display: inline-block;
}

/*.inputfile:focus + label,
.inputfile + label:hover {
    background-color: white;
}*/

.inputfile + label {
    cursor: pointer;
}

label[for="kmz"] .campo-span,
label[for="kmz-almacenamiento"] .campo-span {
    color: #fff;
    padding-right: 5px;
}

.campo-span-kmz {
    margin-left: 10px;
    margin-right: 10px;
}

.img-circular img {
    width: 15px;
    height: 15px;
    margin-right: 8px;
    margin-top: 50%;
    transform: translateY(-50%);
}

.contenedor-contacto-comercial,
.contenedor-proveedorescorredor-comercial {
    background-color: #e6e6e6;
    padding: 15px;
    border: 1px solid #d1d1d1;
    border-radius: 3px !important;
}

.editar-contacto-basico {
    color: #757575;
    font-family: "G-Open Sans-n4", Arial !important;
    font-size: 14px;
    font-weight: bold;
}

.align-right {
    float: right;
    cursor: pointer;
}

    .align-right:hover {
        text-decoration: underline;
    }

.editar-contacto {
    color: #26337b !important;
    font-family: "G-Open Sans-n4", Arial !important;
    font-size: 12px !important;
    font-weight: bold !important;
}

.concom-form,
.provcorr-form {
    margin-top: 10px;
}

.label-contacto {
    margin-left: 50px;
    color: #757575;
    font-size: 14px;
    font-family: "G-Open Sans-n4", Arial !important;
    padding-top: 10px;
}

.label-proveedorescorredor {
    margin-left: 10px;
    color: #757575;
    font-size: 14px;
    font-family: "G-Open Sans-n4", Arial !important;
    padding-top: 10px;
}

.value-contacto {
    margin-right: 30px;
    color: #000;
    font-size: 14px;
    font-family: "G-Open Sans-n4", Arial !important;
    font-weight: bold;
}

.concom-intereses button,
.value-contacto {
    margin-right: 0;
    position: relative;
}

.procedencia-corr {
    margin-right: 11px;
}

.concom-intereses button {
    margin-left: 0 !important;
}


#concom-Telefono1,
#concom-Telefono2,
#concom-Telefono3,
.concom-intereses button,
.concom-campo-telefono input,
.value-contacto input {
    background-color: rgb(255, 255, 255);
    border-color: rgb(209, 209, 209);
    border-width: 1px;
    color: rgb(51, 51, 51);
    padding: 0px 5px;
    font-size: 14px;
    border-radius: 3px !important;
    border-style: solid;
    width: 274px;
    height: 38px;
}

.value-contacto input {
    width: 100%;
}

#concom-Telefono1,
#concom-Telefono2,
#concom-Telefono3 {
    margin-left: 63px;
}

.concom-campo-telefono input,
#concom-email1,
#concom-email2,
#concom-email3 {
    width: 240px !important;
    height: 38px;
}

.concom-campo-telefono input {
    margin-left: 21px;
}


.concom-campo-telefono {
    position: relative;
}

    .concom-campo-telefono select {
        color: rgb(117, 117, 117);
        border-width: 1px;
        border-color: rgb(200, 200, 200);
        border-style: solid;
        border-radius: 3px !important;
        font-size: 13px;
        font-weight: bold;
        text-align: left;
        text-align-last: left;
        width: 274px;
        height: 38px;
        margin-left: 13px;
    }

    #concom-agregarTelefono,
    .concom-campo-telefono img,
    .concom-campo-email img {
        width: 22px;
        height: 22px;
        position: absolute;
        top: 9px;
        right: 23px;
        cursor: pointer;
    }

#concom-agregarTelefono {
    right: 39px;
}

.concom-campo-telefono img {
    right: 38px;
    top: 14px;
}

.guardar-contacto-basico,
.guardar-proveedorescorredor {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #bbb;
    text-align: right;
}

#concom-fechanacimientodia {
    color: rgb(117, 117, 117);
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-align-last: left;
    width: 48px;
    height: 38px;
    border-bottom-left-radius: 3px !important;
    border-top-left-radius: 3px !important;
}

#concom-fechanacimientomes {
    color: rgb(117, 117, 117);
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-align-last: left;
    width: 100px;
    height: 38px;
    margin-left: -5px;
}

#concom-anionacimientomes {
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
    color: rgb(117, 117, 117);
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-align-last: left;
    width: 94px;
    height: 38px;
    margin-left: -5px;
}

#concom-eliminarMail3,
#concom-eliminarMail2 {
    top: 13px;
}

.concom-campo-telefono .formulario-campo,
.concom-campo-email .formulario-campo {
    margin-bottom: 0;
}

.contenedor-contacto-comercial,
.contenedor-proveedorescorredor-comercial {
    background-color: #e6e6e6;
    padding: 15px;
    border: 1px solid #d1d1d1;
    border-radius: 3px !important;
}

.img-contacto-comercial {
    width: 11px;
    height: 11px;
    vertical-align: baseline;
}

.span-contacto-comercial {
    color: #000;
    font-size: 14px;
    font-weight: bold;
    font-family: "G-Open Sans-n4", Arial !important;
    vertical-align: top;
    margin-left: 10px;
}

.contacto-edit-img {
    width: 15px;
    height: 15px;
    vertical-align: sub;
}

.contenedor-contacto-comercial-posicion {
    color: #757575;
    font-family: "G-Open Sans-n6", Arial !important;
    font-size: 14px;
    font-weight: bold;
    margin-top: 5px;
    text-align: left;
    margin-left: 25px;
}

.contenedor-contacto-comercial-posicion-der {
    color: #5c5c5c;
}

.contenedor-contacto-comercial-telefonos,
.contenedor-contacto-comercial-mails {
    color: #000;
    font-family: "G-Open Sans-n6", Arial !important;
    font-size: 13px;
    text-align: left;
    margin-top: 10px;
    margin-left: 25px;
}

.contenedor-contacto-comercial-extras {
    margin-top: 10px;
    margin-left: 25px;
}

.contenedor-contacto-comercial-extras-label,
.contenedor-contacto-comercial-extras-value {
    color: #757575;
    font-family: "G-Open Sans-n4", Arial !important;
    font-size: 12px;
}

.contenedor-contacto-comercial-extras-value {
    font-weight: bold;
}

.datos-contactocomercial-guardados {
    margin-bottom: 20px;
}

.contenedor-contacto-comercial,
.contenedor-proveedorescorredor-comercial {
    margin-top: 10px;
}

#concom-principal, #concom-compranet, #concom-cupo, #concom-boleto {
    height: 20px;
    width: 20px;
    margin-top: 10px;
}

.multSelktrImg {
    text-align: center;
}

    .multSelktrImg span {
        position: relative;
        top: 0px;
        vertical-align: middle;
        display: inline-flex;
    }

    .multSelktrImg input {
        vertical-align: -2px;
    }

    .multSelktrImg img {
        position: relative;
        height: 18px;
        margin: 0;
        top: 0px;
        background-size: contain;
    }


button span img.multSelktrImg {
    height: 18px;
}

.sin-borde {
    border: none;
}

.toneladasObjetivo {
    width: 25% !important;
    margin-top: 5px !important;
    vertical-align: top !important;
    height: 38px !important;
    margin-left: 21px;
}

.eliminarObjetivo {
    right: 65px;
}

.error-input-text {
    border: 3px solid red;
    position: absolute;
    width: 274px;
    height: 36px;
    right: 0px;
    top: 1px;
    cursor: pointer;
    border-radius: 3px !important;
}

.tooltip-error {
    display: none;
    width: 250px;
    height: 28px;
    position: absolute;
    top: 4px;
    right: -260px;
    border-color: red;
    color: #fff;
    border-radius: 3px !important;
    background-color: red;
    padding: 5px;
    text-align: center;
}

.triangulo-error {
    display: none;
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    right: -10px;
    top: 14px;
    border-style: solid;
    border-width: 5px 10px 5px 0;
    border-color: transparent red transparent transparent;
}

.input-error {
    border: 1px solid red !important;
}

.error-error-elem-direccion {
    right: -102px;
}

.triangulo-error-elem-direccion {
    right: 148px;
}

.input-nocliente {
    height: 19px !important;
    position: absolute;
    left: 147px;
    top: 4px;
}

.check-compranet {
    height: 19px !important;
    position: relative;
    right: 126px;
    top: 4px;
}

.almacenamiento-hectareas-linea {
    display: inline-block;
    max-width: 230px;
}


.campo-granos-almacenamientograno {
    margin-left: 20px;
}

    .campo-granos-almacenamientograno input {
        width: 150px;
    }

#eliminarGrano-almacenamientograno {
    right: 35px;
}

.lista-contacto-no-operable-tooltip {
    position: absolute;
    top: 0px;
    right: -115px;
    background-color: #4f4f4f;
    width: 100px;
    padding: 3px;
    text-align: center;
    color: #fff;
    display: none;
}

.lista-contacto-no-operable-tooltip-arrow {
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 15px solid #4f4f4f;
    position: absolute;
    top: 0px;
    right: -15px;
    display: none;
}

#Operable-agregar {
    display: none;
}


.eliminarObjetivos {
    width: 22px;
    position: absolute;
    right: 65px;
    top: 13px;
    cursor: pointer;
}

ul p.buscar-nomb, #buscadorResultModalPendiente p.buscar-nomb {
    margin-top: 0;
    margin-bottom: 0;
}

.k-icon.k-i-close {
    display: none !important;
}