.formulario-footer-cancelar {
    font-family: "G-Open Sans-n4", Arial;
    color: #787878;
    font-size: 100%;
}

    .formulario-footer-cancelar:hover {
        text-decoration: none;
    }

.btnDestacado {
    background-color: #26337B;
    color: #fff;
    padding: 8px;
    border-radius: 5px !important;
    margin: 10px 0;
}

.mySearchHide, .hideFiltros {
    display: none
}

.k-icon.k-i-close {
    display: none !important;
}

#LocalidadCrearContrato {
    width: 100%;
}

.btnAzul {
    background-color: #26337B;
    color: #fff;
    padding: 8px;
    border-radius: 5px !important;
}

    .btnAzul:hover {
        background-color: #151f52;
        cursor: pointer
    }

.btnVerde {
    background-color: #017940;
    color: #fff;
    /*padding: 8px;
    border-radius: 5px!important;*/
}

#boton-ampliar {
    font-weight: bold;
    color: white;
    background-color: #286ed2;
}

.ampliar {
    display: none;
}

#boton-ampliar:hover {
    background-color: #286ed2;
    background-image: none;
    border-color: #286ed2;
}

.btnVerde:hover {
    background-color: #046135;
    cursor: pointer
}

.espaciolineas {
    line-height: 1.6;
}

label {
    margin-bottom: 12px;
}

#lblPlanCanje {
    width: 76px;
}

#pivotgrid {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

#configurator {
    display: inline-block;
    vertical-align: top;
    width: 2500px;
}

.k-pivot-table .k-grid-content td {
    text-align: right;
}

#busquedaFiltro {
    background-color: #017940;
    color: #fff;
}

.required-border-proveedor:invalid {
    border: 1px solid red;
    border-right: 3px solid red;
}

.required-border {
    border: 1px solid red !important;
    border-right: 2px solid red !important;
}

.no-border {
    background-color: #d3d3d3 !important;
    border: none !important;
}

#buscadorResult, #buscadorResultModalPendiente {
    padding: 5px 10px;
    border: 1px solid #ccc;
    position: absolute;
    display: none;
    top: 35px;
    width: 550px;
    left: 15px;
    background-color: #fff;
    max-height: 215px;
    overflow: auto;
    z-index: 1000;
}

    ul p.buscar-nomb, #buscadorResultModalPendiente p.buscar-nomb {
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 1px;
    }

#gridInformeCompraNet td .status,
#gridInformeCompraNet td .status:hover {
    /*background:#787878;*/
    font-size: 10px;
    text-transform: uppercase;
    padding: 1px 5px 1px 8px;
    /*border-right: 6px solid;*/
    font-weight: 700;
    text-align: right;
    /*color: #4c4b4b;*/
    margin-bottom: 3px;
    line-height: 1.2em;
}

.status.pendiente {
    background-color: #ffc100;
    color: #000000;
}

.pend { /*icons*/
    color: #ffc100;
}

.status.confirmado {
    background-color: #179e2b;
    color: #ffffff;
}

.conf { /*icons*/
    color: #179e2b;
}

.status.finalizado {
    background-color: #000000;
    color: #dbdbdb;
}

.fin { /*icons*/
    color: #000000;
}

.status.error {
    background-color: #d00707;
    color: #ffffff;
}

.err { /*icons*/
    color: #d00707;
}

.status.oferta {
    background-color: #00adf5;
    color: #ffffff;
}

.ofe { /*icons*/
    color: #00adf5;
}

.status.borrado {
    background-color: #848484;
    color: #ffffff;
}

.bor { /*icons*/
    color: #848484;
}

.status.anulado {
    background-color: #848484;
    color: #000000;
}

.anu { /*icons*/
    color: #848484;
}

.status.reconfirmar {
    background-color: #ac67ca;
    color: #ffffff;
}

.reconf { /*icons*/
    color: #ac67ca;
}

#border-orange {
    border-bottom: 5px solid #ffc100;
}

#border-green {
    border-bottom: 5px solid #179e2b;
}

#border-blue {
    border-bottom: 5px solid #00adf5;
}

#border-red {
    border-bottom: 5px solid #d00707;
}

#border-black {
    border-bottom: 5px solid #000000;
}

#border-grey {
    border-bottom: 5px solid #848484;
}

#border-purple {
    border-bottom: 5px solid #ac67ca;
}

.divtop {
    /*position: relative;
    bottom: 4px;*/
    height: 4px;
}

#gridInformeCompraNet td {
    text-align: right;
}

    #gridInformeCompraNet td button {
        border: 0;
        margin: 5px;
        padding: 0;
        background-color: transparent;
        color: #aaa;
        font-size: 23px;
    }

        #gridInformeCompraNet td button:hover {
            color: #fff;
        }

.modal .modal-header {
    padding: 6px;
    border-bottom: none;
}

.modal .modal-body {
    padding: 0 15px 0px 15px;
}

.modal .modal-footer {
    border: none;
    padding: 0 15px 0px 15px;
    margin: 0;
}

.containerNew h1, .modal h1 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
}

.modal-content {
    border-radius: 0 !important;
    padding: 10px 15px 15px 15px;
}

#modalVisualizar .campo {
    color: #787878;
    border-color: #dbdbdb;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: none !important;
    text-align: right;
    padding: 3px 5px;
    border-bottom: 0;
    color: #333 !important;
}

#modalVisualizar .marginCero {
    margin-left: 0;
    margin-right: 0;
}

#modalVisualizar .campoAdicionales {
    background: #efefef;
}

#modalVisualizar .campo h3 {
    float: left;
    margin: 0;
    font-weight: 700;
    padding-top: 3px;
    font-size: 14px;
    margin: 5px 0 0;
}

#modalVisualizar .campo span {
    margin: 0 10px;
}

#modalVisualizar .campo:last-child {
    border-bottom: 1px solid #dbdbdb;
}

#modalVisualizar .fason {
    border-bottom: 1px solid #dbdbdb;
}

.noPadding {
    padding-left: 0;
    padding-right: 0;
}

.myBtn {
    width: 100%;
    text-decoration: none;
    color: #787878;
    text-align: center;
    box-shadow: none !important;
    padding: 6px;
    color: #000;
    border: 1px solid #017940;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400 !important;
    background-color: #fff;
}

    .myBtn:hover, .myBtn:active {
        color: #FFF;
        background: #017940;
        border-color: #017940;
    }

#modalVisualizar div.status {
    display: none;
}

.modal .status div {
    font-size: 12px;
    text-align: left;
    margin: 10px 0;
    border: 0;
    color: #FFF;
    padding: 3px;
    font-weight: 700;
}

.mover-izquierda {
    right: 14px;
    bottom: 3px;
}

.mover-derecha {
    left: 17px;
    bottom: 3px;
}

.modal .confirmado div {
    background: #008e61 !important;
}

.modal .finalizado div {
    background: #000 !important;
}

.modal .pendiente div {
    background: #ffc100 !important;
}

.modal .oferta div {
    background: #00adf5 !important;
}

.modal .conerror div {
    background: #d00707 !important;
}


.modal .confirmado-modal div {
    background: #008e61 !important;
}

.modal .finalizado-modal div {
    background: #000 !important;
}

.modal .pendiente-modal div {
    background: #ffc100 !important;
}

.modal .oferta-modal div {
    background: #00adf5 !important;
}

.modal .conerror-modal div {
    background: #d00707 !important;
}

.modal .borrado-modal div {
    background: #848484 !important;
}

.modal .reconfirmar-modal div {
    background: #ac67ca !important;
}

.modal .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    background: none !important;
    text-indent: 0;
 
}

.modal .modal-header .cerrar {
    margin-top: 0.8rem !important;
    margin-right: 0.5rem;
}
.blancoCerrarModalFinalizar{
    color:white!important;
    opacity: 1 !important;
}

.panelflotante {
    z-index: 1000;
    top: 62px;
    right: 0;
    left: 0;
    border-color: #ccc;
    border-width: 0 0 1px 0;
    background-color: #fff;
    padding: 10px 40px 10px 40px;
}

span.k-widget.k-dropdown.k-header {
    margin-top: 0;
}


.modal .k-datepicker {
    width: 100%;
}

textarea.k-textbox {
    resize: none;
    height: auto;
}

#modalVisualizar .campo.campoAdicionales.observacion {
    text-align: justify;
}

    #modalVisualizar .campo.campoAdicionales.observacion p {
        margin: 0px 0 10px 100px;
        padding-top: 5px;
    }

#gridInformeCompraNet {
    font-size: 12px;
    overflow-x:scroll;
}

.modal-dialog-pendiente {
    z-index: 1050;
    width: 800px;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.linea-pendiente {
    margin-top: 3px;
    margin-bottom: 2px
}

div.col-md-6.col-sm-10 .k-icon.k-i-close {
    display: none !important;
}

body.modal-open {
    position: relative;
    overflow-y: hidden !important;
}

.modal-dialog.pendienteM {
    padding-top: 5px;
    padding-bottom: 10px;
}

.k-filter-menu .k-button {
    width: auto !important;
}

body {
    height: 100%;
}

.checks-adicionales {
    display: contents;
}

.row-checks {
    width: 130px;
    display: inline-block;
}

.calidad {
    display: inherit;
}

#descuento-datos {
    display: flex;
}

#descuentos-bonificaciones {
    border-collapse: collapse;
}

#IngresarDescuento {
    vertical-align: initial;
}

#tabla-descuentos {
    overflow: auto;
    margin-right: auto;
}

    #tabla-descuentos div div {
        border-bottom: 1px solid #bdbcbc
    }

#tabla-calidades > div {
    border-bottom: 1px solid #bdbcbc
}

#eliminar-descuento {
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
    float: left;
    text-decoration: none;
    cursor: pointer;
    box-shadow: none !important;
    box-shadow: none !important;
    color: #787878;
}

#eliminar-calidad {
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: none !important;
    box-shadow: none !important;
    color: #787878;
}

.page-container {
    padding: 0 !important;
}

.page-content-wrapper .page-content {
    padding: 0 !important;
}


@media only screen and (max-width: 768px) {
    #descuento-datos {
        display: inherit;
    }
}

@media (max-width: 1023px) {
    .k-filter-row th, .k-grid-header th.k-header {
        padding: .5em .6em 0em .0em;
    }
}

@media (max-width: 1023px) and (min-width: 500px) {
    .k-header[data-field*="PrecioPlazo"] {
        padding-bottom: 2px !important;
    }

    .k-header[data-field*="PrecioPlazo"],
    .mobile-precioPlazo {
        display: table-cell !important;
    }
}

@media (max-width: 370px) {
    #valorespecialDiv {
        display: flex;
    }
}

.col-md-10 span .k-numeric-wrap, .col-md-5 span .k-numeric-wrap {
    display: flex;
}

@media (max-width: 425px) {
    #modalPendienteDiv {
        padding: 10px 5px 15px 5px;
    }

        #modalPendienteDiv .modal-body {
            padding: 0 5px 0px 5px;
        }

            #modalPendienteDiv .modal-body h5 {
                font-size: 11px;
            }

    #tabla-descuentos {
        width: max-content;
    }
}

@media (min-width: 768px) {
    #lblBase {
        margin-right: 66px;
    }

    #lblPizarra {
        margin-right: 30px;
    }

    #lblPlan {
        width: 76px;
        margin-right: 22px;
    }

    #lblPropio {
        margin-right: 57px;
    }

    #mercEnDepLabel {
        margin-right: 5px;
    }
}

@media (max-width: 991px) {
    .descuento-fecha {
        width: -webkit-fill-available;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #mercEnDepLabel {
        margin: 0 0 12px 16px;
    }
}

@media (min-width: 992px) {
    .widthButton {
        width: 91.5%;
    }
}

@media (max-width: 1216px) {
    .k-edge .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
    .k-ff .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
    .k-ie11 .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
    .k-safari .k-widget.k-grid .k-pager-nav + .k-pager-numbers,
    .k-webkit .k-widget.k-grid .k-pager-nav + .k-pager-numbers {
        display: none;
    }
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #017940;
    border-radius: 50% !important;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.botonVarios {
    cursor: pointer;
    font-size: 25px;
}

.varios {
    color: #017940;
}

.k-radio, input.k-checkbox {
    display: inherit;
}

.k-checkbox-label, .k-radio-label {
    display: inherit;
}

.k-filter-row > th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-grid-header th.k-header:first-child {
    padding-left: 14px;
}

#modalVisualizar .campo {
    text-align: left;
}

#variosDiv {
    float: right;
}

#confirmarVariosDiv, #finalizarVariosDiv, #buscarDiv, #modificarVariosDiv {
    border: 1px solid #848484;
    border-radius: 5px !important;
    background: white;
    text-align: center;
    margin: 0 0 15px 0;
    cursor: pointer;
}

    #confirmarVariosDiv > span, #finalizarVariosDiv > span, #buscarDiv > span, #modificarVariosDiv > span {
        vertical-align: middle;
    }

    #confirmarVariosDiv:hover, #finalizarVariosDiv:hover, #buscarDiv:hover, #modificarVariosDiv:hover {
        background: #ccc;
        border: 1px solid #017940;
    }

.myBtn-disabled {
    width: 100%;
    text-decoration: none;
    color: #787878;
    text-align: center;
    box-shadow: none !important;
    padding: 6px;
    color: #000;
    border: 1px solid #017940;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 400 !important;
    background-color: #fff;
}

#contratos-pendientes {
    color: red;
    margin: 0 30px;
    overflow-x: auto;
}

    #contratos-pendientes span {
        font-weight: bold;
        font-size: 15px;
        font-style: italic;
    }

@media (max-width: 756px) {
    #tabla-contratos-pendientes {
        width: 500px;
    }
}

.datoscontrato {
    font-size: 13px;
    color: darkgrey;
}

    .datoscontrato span {
        color: darkseagreen;
        display: inline-block;
    }

.contratoinput {
    width: 100%;
    text-indent: .8em;
}

.noLeftPadding {
    padding-left: 0;
}

.destinoSanLorenzo {
}

.otroDestino {
    background-color: #ffe5aa;
}

#gridIni td .status,
#gridIni td .status:hover {
    /*background:#787878;*/
    font-size: 10px;
    text-transform: uppercase;
    padding: 1px 5px 1px 8px;
    /*border-right: 6px solid;*/
    font-weight: 700;
    text-align: right;
    /*color: #4c4b4b;*/
    margin-bottom: 3px;
    line-height: 1.2em;
}

#gridIni td button {
    border: 0;
    margin: 5px;
    padding: 0;
    background-color: transparent;
    color: #aaa;
    font-size: 23px;
}

    #gridIni td button:hover {
        color: #fff;
    }

#gridIni {
    font-size: 12px;
    zoom: 90%;
}

.floatDerecha {
    float: right;
}

#inputZona {
    text-align: center;
}

.contenedor-contratoAcuerdo {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    overflow-x: hidden;
}

#contratoACopiarId-list {
    max-width: 90vw;
}

.letra650 {
    font-size: 10px;
}

#pizarraDiv {
    margin-left: 0.5vw;
}

.aperturaPrecioInput {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
}

.inline-fijacion {
    display: inline !important;
}
.hide-fijacion {
    display: none !important;
}

.aperturaPrecioTd {
    margin: 0;
    padding: 0 !important;
}

#tablaApertura td {
    position: relative;
}

    #tablaApertura td input {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        border: none;
        padding: 10px;
        box-sizing: border-box;
    }

    #tablaApertura td span {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        border: none;
        padding: 10px;
        box-sizing: border-box;
    }

.fuente600 {
    font-weight: 600;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

.w30 {
    width: 30%;
}

.w100 {
    width: 100%;
}

.w70 {
    width: 70%;
}

#modalVisualizar .dobleColumna {
    color: #787878;
    border-color: #dbdbdb;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: none !important;
    text-align: right;
    padding: 3px 5px;
    color: #333 !important;
    border-bottom: 0px;
    border-right: 0px;
}

    #modalVisualizar .dobleColumna span {
        margin: 0 10px;
    }

#modalVisualizar .dobleColumna {
    text-align: left;
}

#modalVisualizar .bordeSeccionVisualizar {
    border: 1px solid #dbdbdb;
}

.pointerEventDesabilitado {
    pointer-events: none;
}

.modal-superior {
    z-index: 1250;
}

.modal-inferior {
    z-index: 1050;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {


    .aperturaPrecioInput {
        display: block;
        padding: 0;
        margin: 0;
        border: 0;
        width: 100%;
    }

    .aperturaPrecioTd {
        margin: 0;
        padding: 0 !important;
    }

    #tablaApertura td {
        position: relative;
    }

    #tablaApertura td input {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        border: none;
        padding: 10px;
        box-sizing: border-box;
    }

    #tablaApertura td span {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        border: none;
        padding: 10px;
        box-sizing: border-box;
    }

.fuente600 {
    font-weight: 600;
}

.alinear-derecha {
    display: flex;
    justify-content: flex-end;
}

.w30 {
    width: 30%;
}

.w100 {
    width: 100%;
}

.w70 {
    width: 70%;
}

#modalVisualizar .dobleColumna {
    color: #787878;
    border-color: #dbdbdb;
    background-color: #fff;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: none !important;
    text-align: right;
    padding: 3px 5px;
    color: #333 !important;
    border-bottom: 0px;
    border-right:0px;
}

    #modalVisualizar .dobleColumna span {
        margin: 0 10px;
    }

#modalVisualizar .dobleColumna {
    text-align: left;
}

#modalVisualizar .bordeSeccionVisualizar {
    border: 1px solid #dbdbdb;
}

.pointerEventDesabilitado{
    pointer-events:none;

}

.modal-superior{
    z-index:1250;
}

.modal-inferior {
    z-index: 1050;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {


    .aperturaPrecioInput {
        display: block;
        padding: 0;
        margin: 0;
        border: 0;
        width: 100%;
   
    }

    .aperturaPrecioTd {
        margin: 0;
        padding: 0 !important;
    }

    #tablaApertura td {
        position: relative;
    }

        #tablaApertura td input {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            margin: 0;
            height: 167%;
            width: 100%;
            border: none;
            padding: 10px;
            box-sizing: border-box;
        }

        #tablaApertura td span {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            margin: 0;
            height: 100%;
            width: 100%;
            border: none;
            padding: 10px;
            box-sizing: border-box;
        }
}


@media (max-width: 1024px) {
    #gridInformeCompraNet {
        overflow-x: auto;
        white-space: nowrap;
    }

    #gridInformeCompraNet td {
        text-align: left;
    }
}