.mostrar {
    font-size: 12px !important 
}
.w100{
    width: 100%
}
.w48 {
    width: 48.07%
}

.historial {
    color: #017940;
    font-size: 14px;
    font-weight: bold;
    font-family: "Open Sans",sans-serif;
    text-align: center;
}

.desplegable {
    border-bottom: 3px solid #017940;
    margin-bottom: 10px;
    padding: 0 0 5px 20px;
    cursor: pointer;
}
.mostrar-historial {
    margin-left: 15px;
    font-size: 12px;
}
.alert {
    z-index: 100;
    border-radius: 5px !important;
    width: 600px;
}
.k-grid {
    font-size: 12px;
}

.k-input, .k-autocomplete{
    font-size:14px;
}

.k-widget.k-numerictextbox.number-input{
    margin-bottom: 0;
}
.fa {
    font-size: 14px;
}
#tablaLimite td {
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: middle;
    text-align: center;
}

.btn {
    color: #787878;
    border-color: #dbdbdb;
    background-color: #fff;
    cursor: pointer;
    margin-left:30px;
}
    .btn:hover {
        color: #fff;
        border-color: #017940;
        background-color: #017940;
    }

.cupo {
    border-bottom: 3px solid #017940;
    margin-bottom: 10px;
    padding: 0 0 5px 20px;
}

.links-grid{
    margin-left:5px;
}

.alert{
    margin-left:auto;
    margin-right:auto;
}