.detalle-contacto-header-estado span:first-of-type{
    color:#757575;
    font-size:14px;
    font-weight:bold;
    font-family: "G-Open Sans-n8", Arial;
}

.detalle-contacto-header-campana-filtro-select
{
    color: rgb(36, 36, 36);
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    border-radius: 5px!important;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    text-align-last: left;
    width: 163px;
    height: 29px;
    margin-left:15px;
}

.detalle-contacto-header-estado-span{
    color:#000;
    font-family: "G-Open Sans-n8", Arial;
    font-size:14px;
    font-weight:bold;
}

.detalle-contacto-header-estado-cantestrellas img{
    width:18px;
    height:18px;
    vertical-align:top;
}

.detalle-contacto-header{
    padding-left:24px;
}

.detalle-contacto-header-estado,
.detalle-contacto-header-exportar,
.detalle-contacto-header-campana-filtro{
    padding-top:5px;
    height:35px;
    border-bottom:1px solid #ccc;
}

.detalle-contacto-header-campana-filtro {
    padding-top:0;
    border-bottom:1px solid #ddd;
}
.detalle-contacto-header-exportar{
    border-bottom:1px solid #ddd;
}


.page-container{
    padding-top:5px;
}

.exportar-contactos img{
    width:16px;
    height:16px;
}

.exportar-contactos{
    font-size:13px;
    color:#26337b;
    font-weight:bold;
    font-family: "G-Open Sans-n4", Arial;
    margin-left:20px;
    text-align:right
}

.exportar-contactos:hover{
    text-decoration:none;
    cursor:pointer;
}

.contacto-detalle-basico-contenedor-imagen{
    display:inline-block;
    width:60px;
    height:60px;
    background-color:#cfcfcf;
    border-radius:50px!important;
    margin:15px 20px;
    text-align:center;
    margin-right: 10px;
}

.contacto-detalle-basico-contenedor-imagen img {
    width: 23px;
    height: 23px;
    margin-top: 50%;
    transform: translateY(-50%);
}

.contacto-detalle-basico-contenedor-razonsocial{
    display:inline-block;
    vertical-align:middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 158px;
}

.contacto-detalle-basico-contenedor-razonsocial-span,
.contacto-detalle-basico-contenedor-cuit-span{
    color:#26337b;
    font-size:16px;
    font-family:"G-Open Sans-n4", Arial;
    font-weight:bold;
}


.contacto-detalle-basico-contenedor-operable img{
    width:17px;
    height:17px;
}


.contacto-detalle-basico-contenedor-operable{
    position: relative;
    margin-left: 105px;
    text-align: center;
    margin-top: -10px;
    padding: 5px 0px;
    width: 130px;
    border: 1px solid #ccc;
}

.lista-contacto-no-operable-tooltip{
    position: absolute;
    top: 5px;
    right: -79px;
    padding: 2px;
    background-color: #4f4f4f;
    display:none;
    color:#fff;
}
.lista-contacto-no-operable-tooltip-arrow {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #4f4f4f;
    position: absolute;
    top: 5px;
    right: 3px;
    display:none;
}

.lista-contacto-no-operable img{
    width:17px;
    height:17px;
    vertical-align:top;
}

.lista-contacto-no-operable span{
    color: #000;
    font-family:"G-Open Sans-n4", Arial;
    font-size:12px;
    height:17px;
    vertical-align:middle;
    font-weight:bold;
    margin-left:5px;
}

.lista-contacto-no-operable{
    cursor:pointer;
    display:inline-block;
}

.contacto-detalle-basico-contenedor-datos{
    margin-top: 15px;
    margin-left: 95px;
}

.contacto-detalle-basico-contenedor-datos-tipo{
    color:#26337b;
    font-family:"G-Open Sans-n4", Arial;
    font-size:16px;
}

.contacto-detalle-basico-contenedor-datos-mail,
.contacto-detalle-basico-contenedor-datos-telefono,
.contacto-detalle-basico-contenedor-datos-comentarios{
    color:#757575;
    font-family:"G-Open Sans-n4", Arial;
    font-size:14px;
}

.contacto-detalle-basico-contenedor-datos-comentarios{
    margin-top:20px;
}


.contacto-detalle-basico-editar img{
    width:15px;
    height:15px;
    vertical-align:top;
}

.contacto-detalle-basico-editar span{
    color:#26337b;
    height:15px;
    font-size:12px;
    font-weight:bold;
    vertical-align:top;
    font-family:"G-Open Sans-n4", Arial;
}

.contacto-detalle-basico-editar{
    margin-left:95px;
    margin-top:10px;
    width:110px;
    cursor:pointer;
}

.contacto-detalle-moa-titulo {
    color:#1c1c1c;
    font-family:"G-Open Sans-n4", Arial;
    font-size:12px;
}

.contacto-detalle-moa{
    margin:25px 25px;
}
.contacto-detalle-moa-ultimo-contacto{
    color:#b8b8b8;
    font-family:"G-Open Sans-n4", Arial;
    font-size:12px;
    font-style:italic;
    margin-left:3px;
}

.contacto-detalle-moa-ultimo-contacto-span{
    color:#757575;
    font-family:"G-Open Sans-n4", Arial;
    font-size:12px;
    font-style:italic;
    margin-left:3px;
}

.contacto-detalle-links{
    padding: 5px 0px;
    border:1px solid #ccc;
    width:200px;
    margin: 0 auto;
    text-align:center;
}

.contacto-detalle-links span{
    color:#26337b;
    text-decoration:underline;
    font-family:"G-Open Sans-n4", Arial;
    font-size:14px;
    cursor:pointer;
}

.contacto-detalle-links span:not(:last-of-type){
    margin-right:15px;
}


.contacto-detalle-links span:hover{
    text-decoration:none;
}

.contacto-detalle-comercial{
    text-align:center;
    margin-top:30px;
}

.contacto-detalle-comercial span{
    color:#b8b8b8;
    font-size:12px;
    font-family:"G-Open Sans-n4", Arial;
}

.wd70p{
    width:69%;
    display:inline-block;
    vertical-align:top;
}

.wd65p{
    width:64%;
    display:inline-block;
    vertical-align:top;
}

.wd35p{
    width:34%;
    display:inline-block;
    vertical-align:top;
}
.wd30p{
    width:29%;
    display:inline-block;
    vertical-align:top;
}


.titulo-campaña{
    font-size:14px;
    font-weight:bold;
    color:#b8b8b8;
    font-family:"G-Open Sans-n4", Arial;
    margin-top:20px;
    margin-left:50px;
}

.img-campaña img{
    padding-left:50px;
    width:100%;
    margin-top:10px;
}

.contenedor-principal-campanas-detalle{
    margin-top:10px;
    margin-bottom:10px;
    margin-left:20px;
}

.contenedor-principal-campanas-cantidad{
    display:inline-block;
    font-weight:bold;
    font-size:14px;
    font-family: "G-Open Sans-n4", Arial;
    color:#757575;
    
    margin-right:15px;
}

.contenedor-principal-campanas-grano{
    display:inline-block;
    font-size:14px;
    font-family: "G-Open Sans-n4", Arial;
    color:#757575;
}

.wd30p .titulo-campaña{
    margin-left:20px;
}

.bordertopbottom{
    border-bottom:1px solid #ccc;
    height:55px;
    margin-left:15px;
    margin-top:10px;
    margin-right:15px;
}

.wizard-header-contenedor{
    color:#017940;
    font-size:14px;
    font-weight:bold;
    font-family: "G-Open Sans-n6", Arial !important;
    text-align: center;
}
.wizard-header-contenedor{
    width: 110px;
    display: inline-block;
    padding-bottom: 11px;
    padding-top: 18px;
    border-bottom:5px solid transparent;
    margin-left:15px;
    margin-right:15px;
    cursor:pointer;
}

.whc-selected{
    border-bottom:5px solid #017940;
}

.wizard-header-contenedor-grupo{
    width:100%;
}
.dspib{
    display:inline-block;
}

.datos-contacto-titular span{
    color:#424242;
    font-size:17px;
    font-family: "G-Open Sans-n6", Arial !important;
}

.datos-contacto-titular img{
    width:15px;
    height:15px;
    vertical-align:sub;
}

.editar-contacto{
    color:#26337b!important;
    font-family: "G-Open Sans-n4", Arial !important;
    font-size:12px!important;
    font-weight:bold!important;
}

.datos-contacto-titular {
    margin-top: 30px;
    margin-left: 60px;
    font-weight:bold;
}

.datos-contacto-titular a{
    margin-left:15px;
    
}

.wd35p .datos-contacto-titular{
    margin-left:0;
}

.wd65p .row{
    margin-top:20px;
}

.label-contacto{
    margin-left:50px;
    color:#757575;
    font-size:14px;
    font-family:"G-Open Sans-n4", Arial !important;
}

.value-contacto{
    margin-right:30px;
    color:#000;
    font-size:14px;
    font-family:"G-Open Sans-n4", Arial !important;
    font-weight:bold;
}

.contenedor-contacto-comercial{
    background-color:#e6e6e6;
    padding:15px;
    border:1px solid #d1d1d1;
    border-radius:3px!important;
}

.span-contacto-comercial{
    color:#000;
    font-size:14px;
    font-weight:bold;
    font-family:"G-Open Sans-n4", Arial !important;
    vertical-align:top;
    margin-left:10px;
}

.img-contacto-comercial{
    width:11px;
    height:11px;
    vertical-align:baseline;
}

.contacto-edit-img{
    width:15px;
    height:15px;
    vertical-align:sub;
}

.align-right{
    float:right;
    cursor:pointer;
}

.editar-contacto-comercial{
    vertical-align:baseline;
    
}




.contenedor-contacto-comercial-posicion{
    color:#757575;
    font-family:"G-Open Sans-n6", Arial !important;
    font-size:14px;
    font-weight:bold;
    margin-top:5px;
    text-align:left;
    margin-left:25px;
}

.contenedor-contacto-comercial-posicion-der{
    color:#5c5c5c;
}

.contenedor-contacto-comercial-telefonos,
.contenedor-contacto-comercial-mails{
    color:#000;
    font-family:"G-Open Sans-n6", Arial !important;
    font-size:13px;
    text-align:left;
    margin-top:10px;
    margin-left:25px;
}


.contenedor-contacto-comercial-extras
{
    margin-top:10px;
    margin-left:25px;
}
.contenedor-contacto-comercial-extras-label,
.contenedor-contacto-comercial-extras-value{
    color:#757575;
    font-family:"G-Open Sans-n4", Arial !important;
    font-size:12px;
}
.contenedor-contacto-comercial-extras-value{
    font-weight:bold;
}

.agregar-contacto-comercial{
    color:#26337b;
    font-size:13px;
    font-weight:bold;
    font-family:"G-Open Sans-n4", Arial;
    margin-top:5px;
    cursor:pointer;
}

.align-right:hover,
.agregar-contacto-comercial:hover{
    text-decoration:underline;
}




.datos-contacto-subtitular span{
    color:#b8b8b8;
    font-size:14px;
    font-family: "G-Open Sans-n6", Arial !important;
}

.datos-contacto-subtitular img{
    width:15px;
    height:15px;
    vertical-align:sub;
}
.datos-contacto-subtitular {
    margin-top: 15px;
    margin-left: 60px;
    font-weight:bold;

}

#datos-produccion .row{
    margin-top:10px;
    margin-left:5px;
}


.linea-separador-produccion{
    width: 85%;
    height: 1px;
    border: 1px solid #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 55px;
}




.contenedor-campo-grupo-abm img{
    width:15px;
    height:15px;
    vertical-align:baseline;

}

.contenedor-campo-grupo{
    padding:15px;
    border:1px solid #ccc;
    width:80%;
    position:relative;
}

.contenedor-campo-grupo .row{
    margin-top:0!important;
    margin-left:0!important;
}


.contenedor-campo-grupo-ubicacion{
    display:inline-block;
    color:#757575;
    font-size:12px;
    font-family:Arial;
    font-weight:normal;
}

.contenedor-campo-grupo-abm{
    display:inline-block;
    font-weight:bold;
    font-size:12px;
    font-family:"G-Open Sans-n4", Arial !important;
    float:right;
    margin-right:25px;
}

.contenedor-campo-grupo-hectareas{
    color:#b0b0b0;
    font-family:Arial;
    font-size:12px;
    font-weight:normal;
}

.contenedor-campo-grupo-granos-contenedor{
    padding: 10px 0px 0px 15px;
}

.contenedor-campo-grupo-granos-titulo{
    color:#000;
    font-family:"G-Open Sans-n4", Arial !important;
    font-size:14px;
    font-weight:bold;
}

.contenedor-campo-grupo-granos-hastns{
    color:#757575;
    font-family:"G-Open Sans-n4", Arial !important;
    font-size:14px;
    font-weight:bold;
}

.campo-grupo-ubicacion-agregar{
    margin-top:5px;
    cursor:pointer;
    color:#26337b;
    font-family:"G-Open Sans-n4", Arial !important;
    font-size:13px;
    font-weight:bold;
}

.wd30p .datos-contacto-titular{
    margin-left:-45px;
}

#datos-agenda .wd30p .datos-contacto-titular{
    margin-left:60px;
}

#datos-agenda .wd70p .datos-contacto-titular{
    margin-left:120px;
}

.proximas-actividades-contenedor{
    margin-left:45px;
    margin-top:10px;
    padding:5px;
    border:1px solid #ccc;
    max-width:30%;
    display:inline-block;
}

.proximas-actividades-detalle-horario img{
    width:16px;
    height:16px;
    vertical-align:baseline;
}

.proximas-actividades-horario{
    font-family: "G-Open Sans-n4", Arial;
    color:#757575;
    font-size:11px;
    font-style:italic;
}

.proximas-actividades-titulo{
    color:#363636;
    font-size:11px;
    font-family: "G-Open Sans-n4", Arial;
    font-style:italic;
    margin-left:19px;
}

.proximas-actividades-observacion{
    color:#757575;
    font-size:14px;
    font-family: "G-Open Sans-n4", Arial;
    margin-left:19px;
}

.proximas-actividades-detalle:not(:first-of-type){
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid #ccc;
}

.agenda-contenedor{
    display:inline-block;
    margin-left:60px;
    margin-top:10px;
    vertical-align:top;
    width:55%;
    padding:15px;
    border:1px solid #ccc;
}

.agenda-contenedor-recordatorio img{
    width:16px;
    height:16px;
    vertical-align:top;
}

.agenda-contenedor-agregar{
    font-size:14px;
    color:#757575;
    font-family: "G-Open Sans-n4", Arial;
    font-weight:bold;
}

.agenda-contenedor-agregar-campo{
    margin-top:10px;
}

.agenda-contenedor-agregar-campo-label {
    width:30%;
    display:inline-block;
    font-size:14px;
    color:#b8b8b8;
    font-family: "G-Open Sans-n4", Arial;
    font-weight:bold;
}
.agenda-contenedor-agregar-campo-input{
    display:inline-block;
}

.agenda-contenedor-agregar-campo-input select{
    color: #757575;
    border: 1px solid #c8c8c8;
    border-radius: 3px!important;
    font-size: 13px;
    text-align: left;
    text-align-last: left;
    width: 166px;
    height: 27px;
}

.agenda-contenedor-agregar-campo-input textarea
{
    background-color: #fff;
    border: 1px solid #c8c8c8;
    color: #333333;
    padding: 0px 10px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    border-radius: 3px!important;
    width: 300px;
    height: 63px;
    resize: none;
}

.agenda-contenedor-recordatorio {
    margin-left: 132px;
    margin-top: 10px;
    padding: 5px 10px;
    background-color:#e0e0e0;
    margin-bottom:10px;
}

.agenda-contenedor-recordatorio-span{
    color:#26337b;
    font-size:13px;
    font-weight:bold;
    font-family: "G-Open Sans-n4", Arial;
}

.linea-separador-agenda{
    border:1px solid #ccc;
    margin-bottom:10px;
}

.guardar-agenda{
    padding: 0px;
    border: 1px solid rgb(38, 51, 123);
    border-radius: 3px!important;
    background-color: rgba(255, 255, 255, 0);
    width: 93px;
    height: 30px;
    text-align:center;
    padding-top:4px;
    cursor:pointer;
    float:right;
    color:#26337b;
    font-size:13px;
    font-weight:bold;
}

.guardar-agenda:hover{
    border-color:rgba(255, 255, 255, 0);
    background-color: rgb(38, 51, 123);
    color:#fff;
}

.filtro-agenda{
    margin-left:45px;
    margin-top:20px;
    width: 255px;
    display: inline-block;
}

.filtro-agenda-titulo{
    color:#000;
    font-size:14px;
    font-weight:bold;
    font-family: "G-Open Sans-n4", Arial;
}



.filtro-agenda-campo-label{
    margin-top:10px;
    font-size:14px;
    font-weight:bold;
    font-family: "G-Open Sans-n4", Arial;   
    color:#b8b8b8;
}

.filtro-agenda-campo-input{
    margin-top:5px;

}

.filtro-agenda-campo-input input[type="text"]{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(209, 209, 209);
    color: rgb(51, 51, 51);
    padding: 0px 10px;
    font-size: 14px;
    border-radius: 3px!important;
    width: 176px;
    height: 31px;
}

.filtro-agenda-campo-input select{
    color: rgb(117, 117, 117);
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px!important;
    font-size: 13px;
    text-align: left;
    text-align-last: left;
    width: 176px;
    height: 31px;
}

.filtro-agenda-campo-input label{
    display:block;
    color:#b8b8b8;
    font-size:14px;
    font-family: "G-Open Sans-n4", Arial;   
    margin:0px;
}

.filtro-agenda-campo-input label:first-of-type{
    color:#636363;
}

.historial-actividad{
    display:inline-block;
    width: 460px;
    vertical-align: top;
    margin-top:20px;
    margin-left:60px;
}

.historial-actividad-grupo-detalle-abm img{
    width:14px;
    height:14px;
    vertical-align:baseline;
    cursor:pointer;
    opacity:0.6;
}

.historial-actividad-grupo-detalle-abm img:hover {
    opacity:1;
}


.historial-actividad-grupo-detalle-comentario img{
    width:15px;
    height:15px;
    vertical-align:sub;
}

.historial-actividad-grupo-detalle-recordatorio img{
    width:13px;
    height:13px;
    vertical-align:baseline;
}

.historial-actividad .datos-contacto-titular{
    margin:0;
    display:inline-block;
}

.historial-actividad-ultimocontacto{
    display:inline-block;
    float:right;
    color:#b8b8b8;
    font-size:12px;
    font-family:"G-Open Sans-n6", Arial !important;
}

.historial-actividad-ultimocontacto span{
    color:#757575;
}

.historial-actividad-grupo-detalle{
    margin-top:20px;
}

.historial-actividad-grupo-detalle-titulo{
    display:inline-block;
    font-style:italic;
    color:#424242;
    font-family:"G-Open Sans-n6", Arial !important;
    font-size:13px;
    font-weight:600;
}

.historial-actividad-grupo-detalle-abm{
    float:right;   
}

.historial-actividad-grupo-detalle-comentario span{
    color:#757575;
    font-family:"G-Open Sans-n4", Arial !important;
    font-size:15px;
}

.historial-actividad-grupo-detalle-fecha{
    margin-left:20px;
    color:#b8b8b8;
    font-family:"G-Open Sans-n4", Arial !important;
    font-size:12px;
    font-style:italic;
}

.historial-actividad-grupo-detalle-recordatorio{
    margin-left:20px;
}

.historial-actividad-grupo-detalle-recordatorio span{
    color:#757575;
    font-family:"G-Open Sans-n4", Arial !important;
    font-size:12px;
    font-style:italic;
    margin-left:5px;
}


/*#datos-contacto,*/
#datos-produccion,
#datos-agenda{
    display:none;
}

.ribbon {
   width: 200px;
   position: absolute;
   text-align: center;
   font-size: 23px!important;
   background: #017940;
   background: -webkit-linear-gradient(top, #017940, #028e4b);
   background: -webkit-linear-gradient(top, #017940, #028e4b);
   background: -moz-linear-gradient(top, #017940, #028e4b);
   background: -ms-linear-gradient(top, #017940, #028e4b);
   background: -o-linear-gradient(top, #017940, #028e4b);
   background-image: -ms-linear-gradient(top, #017940 0%, #028e4b 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
    left: 20%;
    top: -27px;
}

.ribbon:before, .ribbon:after {

   content: '';

   position: absolute;

   display: block;

   bottom: 0em;

   border: 0.5em solid #03944f;

   z-index: 1;

   }

.ribbon:before {

   left: -1em;

   border-right-width: 0.5em;

   border-left-color: transparent;

   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;

   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;

   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;

   }

.ribbon:after {

   right: -1em;

   border-left-width: 0.5em;

   border-right-color: transparent;

   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;

   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;

   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;

   }

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {

   border-color: #013a1f transparent transparent transparent;

   position: absolute;

   display: block;

   border-style: solid;

   bottom: -0.5em;

   content: '';

   }

.ribbon .ribbon-content:before {

   left: 0;

   border-width: 0.5em 0 0 0.5em;

   }

.ribbon .ribbon-content:after {

   right: 0;

   border-width: 0.5em 0.5em 0 0;

   }

.absoluto-campaña{
    font-size: 15px;
    position: absolute;
    top: -21px;
    left: 32%;
}

.ribbon-content{
    color:transparent;
}

.con-grupo{
    margin-top:20px;
}

#campana15-16,
#campana14-15{
    display:none;
}

#datos-produccion .wizard-header-contenedor-grupo{
    margin-top:10px;
}

#datos-produccion .wizard-header-contenedor{
    padding-bottom:1px;
}