@charset "UTF-8";
.noPadding {
	padding-left: 0;
	padding-right: 0;
}
.noPaddingLeft {
	padding-left: 0;
}
.noPaddingRight {
	padding-right: 0;
}
.paginado {
	width: 100%;
	padding: 8px;
	background: #FFF;
}
.paginado li.active, .paginado li:hover {
	background: #017940;
	color: #FFF;
}
.paginado ul li:first-child, .paginado ul li:last-child, .paginado ul li:nth-child(2), .paginado ul li:nth-last-child(2) {
	border: 1px solid #dbdbdb;
}
.paginado div {
	float: right;
	color: #787878;
}
/*tablas*/
.tableCompraNet {
	background: #fff;
	border: solid 1px #dbdbdb;
	font-size: 14px;
}
.tableCompraNet th {
	overflow: hidden;
	font-weight: 700!important;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: right;
	color: #000;
	border: solid 1px #dbdbdb;
	border-width: 1px 0 0px 1px;
	border-bottom: 2px solid #ddd!important;
	padding: 15px 30px 15px 8px!important;
	white-space: normal;
	vertical-align: top!important;
	background-image: url(../images/filtro.png);
	background-repeat: no-repeat;
	background-position: right 16px;
	line-height: 1.1!important;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.tableCompraNet th span {
	white-space: nowrap;
}
.tableCompraNet .noBackground {
	background: none;
	padding-right: 10px!important
}
.tableCompraNet table {
	border-collapse: separate;
	border-spacing: 0;
	empty-cells: show;
	color: #787878;
}
.tableCompraNet td {
	text-align: right;
	overflow: hidden;
	line-height: 1.2!important;
	vertical-align: middle!important;
	text-overflow: ellipsis;
	border-color: #dbdbdb;
	border: solid 1px #dbdbdb;
	border-width: 0 0 1px 1px;
	font-weight: 400;
	padding: 8px!important;
	border-top: none!important;
}
.tableCompraNet tbody tr:nth-child(even) {
	background-color: #f5f5f5
}
.tableCompraNet td:first-child, .tableCompraNet th:first-child {
	border-left: none;
	text-align: left!important;
}
.tableCompraNet tbody tr:hover {
	background: #017940;
	color: #fff;
}
.tableCompraNet th i {
	font-size: 13px;
	padding-left: 10px;
	line-height: 1.6;
	color: #818181;
}
.tableCompraNet th a {
	color: #000;
	display: block;
}
.tableCompraNet th a:hover {
	color: #000;
	display: block;
	text-decoration: none;
}
.tableCompraNet .precio span {
	font-weight: 700;
	float: right;
	padding-left: 3px;
}
.tableCompraNet .ampliaciones div {
	width: 25px;
	height: 25px;
	background: #bbbbbb;
	font-size: 22px;
	font-weight: 900;
	color: #fff;
	line-height: 1;
	float: right;
	display: inline;
	margin-left: 10px;
	text-decoration: none;
	padding: 1px 5px 0 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

@media all and (-ms-high-contrast:none) {
.tableCompraNet .ampliaciones div {
	padding: 2px 6px 0 0;
}
/* IE10 */
*::-ms-backdrop, .tableCompraNet .ampliaciones div {
padding: 2px 6px 0 0;
}
/* IE11 */
}
.status i {
	font-size: 23px;
	padding-top: 5px;
}
.tableCompraNet .ampliaciones div a, .tableCompraNet .ampliaciones div a:hover {
	width: 25px;
	height: 25px;
	background: none;
	color: #fff;
	text-decoration: none;
}
.tableCompraNet .ampliaciones {
	line-height: 1.8!important;
}
.tableCompraNet  .status:nth-child(2){padding-left:10px;}
.status div, .status div:hover {
	width: 100%;
	background: #e7e5e6;
	font-size: 10px;
	text-transform: uppercase;
	padding: 1px 5px 1px 8px;
	border-right: 6px solid;
	font-weight: 700;
	text-align: right;
	color: #4c4b4b;
	margin-bottom: 3px;
}
.confirmado div {
	border-color: #008e61!important;
}
.finalizado div {
	border-color: #000!important;
}
.pendiente div {
	border-color: #ffc100!important;
}
.oferta div {
	border-color: #00adf5!important;
}
.error div {
	border-color: #d00707!important;
	color: #d00707!important;
}
/*btn*/
.btnNewFile .myBtnDestacado {
	margin-bottom: 15px;
	font-weight: 700;
	line-height: 1.6;
}
.btnNewFile .noPaddingRight .myBtnDestacado {
	background: #017940
}
.btnNewFile .noPaddingRight .myBtnDestacado:hover {
	background: #046135
}
.btnNewFile .myBtnDestacado img {
	float: left;
	margin-right: 10px;
}
.myBtn, .campo {
	width: 100%;
	color: #787878;
	border-color: #dbdbdb;
	background-color: #fff;
	text-align: center;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	box-shadow: none !important;
	padding: 6px;
}
.myBtn {
	color: #000;
	border: 1px solid #017940;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-weight: 400!important;
}
.btnCancelar {
	background-color: #e2e0e1;
	border-color: #d2d1d1;
}
.myBtn:hover, .myBtn:active {
	color: #FFF;
	background: #017940;
	border-color: #017940
}
.myBtnDestacado {
	background-color: #26337B;
	color: #fff;
	padding: 8px;
	border-radius: 5px!important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	border-radius: 5px!important;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.myBtnDestacado:hover {
	background: #151f52;
}
/*adicionales*/
.datosEditarAdicionalesPendiente, .datosEditarAdicionales {
	display: none;
}
.datosEditar, .datosEditarPendiente {
	margin-bottom: 20px;
}
.datosEditarAdicionales .col-xs-12, .datosEditarAdicionalesPendiente .col-xs-12 {
	margin: 10px 0 2px 0;
}
.ch_sustentableInput, .ch_dolarizadoInput, .ch_pesificadoInput, .ch_sustentableInputPendiente, .ch_dolarizadoInputPendiente, .ch_pesificadoInputPendiente {
	display: none
}
/*forms*/
.containerNew input, .modal input, .modal select, .containerNew select {
	text-align: left!important;
	width: 90%;
	float: left;
	border: 0;
	margin: 0;
	font-weight: 400;
}
.modal select, .containerNew select {
	width: 100%
}
#modalPendiente .col-xs-12, #modalOferta .col-xs-12 {
	margin-bottom: 10px;
}
#modalPendiente .col-sm-offset-4, #modalOferta .col-sm-offset-4 {
	margin-top: 10px;
}
select option:checked:after {
	content: attr(title);
	background: #666;
	color: #fff;
	position: absolute;
	width: 100%;
	left: 0;
	border: none;
}
.campo i {
	float: right;
	padding-top: 2px;
}
.campoAdicionales {
	background: #efefef
}
input:focus, select:focus {
	outline: none;
}
input[type="checkbox"] {
	width: auto!important;
	margin-top: 8px;
}
/*modal*/
.modal h1 {
	font-size: 18px;
	font-weight: 700;
	margin-top: 0;
}
.modal h3 {
	font-weight: 700;
	padding-top: 3px;
	font-size: 14px;
	margin: 5px 0 0;
}
.close {
	font-size: 35px!important;
}
.modal {
	padding-right: 0!important;
}
.modal-header {
	padding: 15px;
	border-bottom: none;
}
.modal-content {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	padding: 10px 15px 15px 15px;
}
.modal-footer {
	border: none
}
.modal-body {
	padding-top: 0
}
.modal .status div {
	text-align: left;
	margin: 10px 0;
	border: 0;
	color: #FFF;
	padding-top: 3px;
}
.modal .confirmado div {
	background: #008e61!important;
}
.modal .finalizado div {
	background: #000!important;
}
.modal .pendiente div {
	background: #ffc100!important;
}
.modal .oferta div {
	background: #00adf5!important;
}
.modal .error div {
	background: #d00707!important;
	color: #FFF!important;
}
.modal .error div {
	background: #d00707!important;
	color: #FFF!important;
}
#modalError .modal-header i {
	font-size: 25px;
	color: #d00707;
	margin-right: 15px
}
#modalError .modal-header {
	font-weight: 700;
}
.modalStatus .campo {
	text-align: right;
	padding: 3px 5px;
	border-bottom: 0;
	color: #333!important;
}
.modal input, .modal select, .modal option {
	color: #333!important;
	padding-left: 0!important;
	box-sizing: content-box;
}
.modalStatus .campo:last-child {
	border-bottom: 1px solid #dbdbdb;
}
.modalStatus h3 {
	float: left;
	margin: 0;
}
.modal .status div {
	font-size: 12px;
}

@media (max-width: 990px) {
.containerNew {
	padding: 0px;
}
}

@media (max-width: 768px) {
.modal-content {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	padding: 10px 0px 15px 0px;
}
.modal input {
	width: 85%;
}
}

@media (max-width: 500px) {
#datosEditarAdicionales h3 {
	font-size: 12px;
}
#modalPendiente h3, #modalOferta h3, #modalPendiente .campo, #modalOferta .campo {
	font-size: 12px!important;
	white-space: normal;
}
}
 @media (max-width: 310px) {
#modalPendiente i, #modalOferta i {
	display: none!important
}
.campo {
	padding: 5px 1px;
}
#modalPendiente .col-xs-3, #modalPendiente .col-xs-9, #modalOferta .col-xs-3, #modalOferta .col-xs-9, #modalPendiente .col-xs-1, #modalOferta .col-xs-1, .datosEditarAdicionalesPendiente .col-xs-8, .datosEditarAdicionalesOferta .col-xs-8 {
	width: 100%;
}
#modalPendiente .col-xs-5, #modalPendiente .col-xs-4, #modalOferta .col-xs-5, #modalOferta .col-xs-4, .datosEditarAdicionalesPendiente .col-xs-4, .datosEditarAdicionalesOferta .col-xs-4 {
	width: 50%!important;
	padding-right: 0;
}
#modalPendiente .col-xs-offset-3, #modalPendiente .col-xs-9, #modalPendiente .col-xs-5, #modalOferta .col-xs-offset-3, #modalOferta .col-xs-9, #modalOferta .col-xs-5 {
	margin-left: 0;
	padding-left: 0
}
.masDatosPendiente .form-check-input
}
