* {
    font-family: "G-Open Sans-n4", Arial;
}


.contenedor-principal-miscontactos {
    border-right: 1px solid #C8C8C9;
    border-left: 1px solid #C8C8C9;
    padding-bottom: 18px;
}


.contenedor-principal-widget {
    padding-bottom: 18px;
}


    .contenedor-principal-widget img {
        width: 102px;
        height: 102px;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }

.contenedor-principal-miscontactos-detalle img {
    width: 12px;
    height: 12px;
}

.contenedor-principal-widget-link p {
    font-size: 12px;
    width: 75px;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    display: inline-block;
}

.contenedor-principal-widget {
    min-height: 230px;
}


.container.body-content {
    margin-top: 120px;
}

.contenedor-principal-campanas-titulo,
.contenedor-principal-miscontactos-titulo {
    color: #424242;
    font-size: 16px;
    font-weight: bold;
}

.contenedor-principal-campanas-subtitulo,
.contenedor-principal-miscontactos-subtitulo {
    color: #b8b8b8;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contenedor-principal-miscontactos-detalle {
    border: 1px solid #c8c8c8;
    display: inline-block;
    width: 16%;
    height: 150px;
    vertical-align: top;
    cursor: pointer;
}

.contenedor-principal-miscontactos-detalle:hover {
        background-color:#ddd;
    }

.contenedor-principal-miscontactos-detalle-titulo {
    padding: 10px;
    padding-bottom: 5px;
}

.contenedor-principal-miscontactos-detalle-cantidad {
    font-size: 26px;
    vertical-align: middle;
}

    .contenedor-principal-miscontactos-detalle-cantidad.verde {
        color: #017940;
    }

    .contenedor-principal-miscontactos-detalle-cantidad.gris {
        color: #8f8f8f;
    }

.contenedor-principal-miscontactos-detalle-descripcion {
    font-size: 12px;
    color: #757575;
    text-align: center;
    padding: 5px;
}

.contenedor-principal-campanas-detalle {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contenedor-principal-campanas-cantidad {
    display: inline-block;
    text-align: right;
    font-size: 14px;
    color: #757575;
    margin-left: 5px;
    margin-right: 15px;
    width: 24%;
}

.contenedor-principal-campanas-grano {
    display: inline-block;
    font-size: 14px;
    color: #757575;
    width: 45%;
}

    .contenedor-principal-campanas-grano:last-of-type {
        width: 24%;
        text-align: right;
    }

    .contenedor-principal-campanas-grano:first-of-type {
        font-weight: bold;
    }

.contenedor-segundo-titulo {
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.contenedor-segundo {
    margin-top: 30px;
}

.exportar-contactos img {
    width: 16px;
    height: 16px;
}

.exportar-contactos {
    font-size: 13px;
    color: #26337b;
    font-weight: bold;
    margin-left: 20px;
    text-align: right;
}

    .exportar-contactos:hover {
        text-decoration: none;
        cursor: pointer;
    }


.contenedor-segundo-filtro-campo select {
    width: 100%;
}

.lista-contactos-estado-estrellas img,
.contenedor-segundo-filtro-campo img {
    width: 18px;
    height: 18px;
    vertical-align: top;
}

.contenedor-segundo-filtro-titulo {
    font-size: 14px;
    color: #171616;
    font-weight: bold;
    margin-top: 20px;
}

.contenedor-segundo-filtro-campo {
    margin-top: 10px;
    margin-bottom: 10px;
}

cont-agend-det{
    display:inline;
}

contenedor-principal-miscontactos-grupo{
    display:inline-block;
}

.contenedor-segundo-filtro-campo select {
    color: rgb(117, 117, 117);
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    border-radius: 5px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-align-last: left;
    height: 31px;
    width: 176px;
    margin-left: 7px;
}

    .contenedor-segundo-filtro-campo input {
        vertical-align: top;
    }

    .contenedor-segundo-filtro-campo div,
    .contenedor-segundo-filtro-campo label {
        color: #b8b8b8;
        font-size: 14px;
        font-weight: bold;
        margin-top: 5px;
        cursor: pointer;
        display: block;
        padding-left: 15px !important;
    }

        .contenedor-segundo-filtro-campo div b,
        .contenedor-segundo-filtro-campo label b {
            color: #b8b8b8;
        }



.lista-contactos-contenedor {
    margin-top: 20px;
    position: relative;
    padding: 15px;
    cursor: pointer;
    background-color: #fff;
    padding-bottom: 5px;
}

.detalleCorredor {
    border: 1px solid #bbb;
    background-color: #e6e6e6;
    border-radius: 5px !important;
}

.lista-contactos-estado-titulo {
    font-size: 14px;
    font-weight: bold;
    color: #757575;
}

.lista-contactos-estado-guion,
.lista-contactos-estado-ab {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.lista-contactos-estado-operando {
    font-size: 14px;
    font-weight: bold;
    color: #0f8fff;
}

.img-contactos-datos {
    width: 11px;
    height: 11px;
    vertical-align: inherit;
    margin-right: 10px;
}

.lista-contactos-datos {
    margin-top: 10px;
}

.lista-contactos-datos-razonsocial {
    color: #26337b;
    font-size: 16px;
}

.lista-contactos-datos-emailtelefono {
    margin-left: 25px;
    color: #757575;
    font-size: 14px;
    margin-top: 5px;
}


.lista-contacto-footer {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 2px solid #e9ecf3;
    margin-left: -15px;
    padding-left: 10px;
    width: 104%;
}

.lista-contacto-footer-comacargo {
    display: inline-block;
    width: 50%;
    text-align: left;
    font-size: 12px;
    color: #b8b8b8;
    font-weight: bold;
}

.lista-contacto-footer-ulcontacto {
    display: inline-block;
    width: 49%;
    text-align: right;
    font-size: 12px;
    color: #b8b8b8;
}


.lista-contacto-no-operable-tooltip {
    position: absolute;
    top: 50px;
    right: 135px;
    background-color: #4f4f4f;
    display: none;
}

.lista-contacto-no-operable-tooltip-arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #4f4f4f;
    position: absolute;
    top: 50px;
    right: 125px;
    display: none;
}


.lista-contacto-no-operable {
    position: absolute;
    right: 30px;
    top: 45px;
    background-color: rgb(247, 247, 247);
    border-color: rgb(235, 235, 235);
    border-width: 1px;
    font-size: 14px;
    border-radius: 3px !important;
    border-style: solid;
    width: 94px;
    height: 30px;
    padding-top: 3px;
}

.img-contacto-no-operable {
    width: 16px;
    height: 16px;
    vertical-align: sub;
}

.span-contacto-no-operable {
    font-size: 12px;
    font-weight: bold;
    color: #000;
}

.span-contacto-no-operable-tooltip {
    font-size: 12px;
    font-weight: bold;
    color: #dedede;
    padding: 5px 10px;
}


.cont-agend-det:hover,
.cont-alta-det:hover,
.cont-op-det:hover,
.cont-no-op-det:hover
.cont-alta-no-clie:hover,
.cont-no-clie:hover,
.cont-alta-no-clie,
.cont-no-op-det,
.cont-baj-det,
.cont-baj-det:hover {
    text-decoration: none !important;
}

.miscontactos-selected {
    border: 2px solid #017940;
}

.miscontactos-selected,
.miscontactos-selected:hover {
    background-color: #e6e6e6;
}


.absoluto-mt20 {
    height: 1202px;
    margin-top: 0px;
    left: 0;
    top: 0px;
    bottom: auto;
    right: auto;
}

#verMasContactos {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
}

.r-relative {
    position: relative;
    min-height: 1210px;
}

.page-footer {
    clear: both;
}


.lista-contactos-general a:hover {
    text-decoration: none;
}

.contenedor-segundo-titulos {
    height: 20px;
}

.ui-icon-triangle-2-n-s {
    background-position: -67px -16px;
    margin-top: 2px;
}

button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all {
    border-radius: 5px !important;
    height: 31px;
    width: 176px !important;
    margin-left: 7px;
    color: rgb(117, 117, 117);
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-align-last: left;
    background-color: #fff;
}

    button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all.ui-state-active {
        color: #fff;
    }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #017940;
    background: #017940;
}

button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all span:nth-child(even) {
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.page-content-wrapper {
    min-height: 1625px;
}

.contenedor-principal {
    background-color: #fff;
    padding: 15px;
}

.link-externos {
    display: inline-block;
    position: relative;
}

    .link-externos img {
        width: auto;
        height: 20px;
        margin: 0;
        position: absolute;
        top: -20px;
        left: 25px;
        opacity: 0.8;
    }

.contenedor-principal-widget-link:hover {
    text-decoration: none;
}

.link-externos img:hover {
    opacity: 1;
}

.sap {
    float: left;
}

.field {
    float: right;
}

.scato {
    margin-left: 30px;
}

    .scato img {
        left: 20px;
    }

.color-titulo {
    color: #636363;
}

.carouselHome-contenedor {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}

.carouselHome-fecha {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    background-color: #017940;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    color: #fff;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    border-left: 1px solid #333;
}

.carouselHome-contacto {
    padding-top: 9px;
    font-size: 13px;
    display: inline-block;
    max-width: 152px;
    width: 152px;
    text-align: left;
    font-weight: bold;
}


.carouselHome-titulo,
.carouselHome-descripcion {
    font-size: 13px;
    display: inline-block;
    text-align: left;
    width: 152px;
}

.carouselHome-descripcion {
    padding-bottom: 15px;
}

    .carouselHome-descripcion:not(:last-of-type) {
        border-bottom: 1px solid #333;
    }


div#carouselHome {
    margin-top: 20px;
}

.carousel-control.left,
.carousel-control.right {
    background: none;
}

span.glyphicon.glyphicon-chevron-left,
span.glyphicon.glyphicon-chevron-right {
    color: #fff;
    font-size: 15px;
}

.carousel-control {
    width: 0%;
}

    .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
        position: absolute;
        top: 2%;
        left: -46px;
        z-index: 5;
        display: inline-block;
    }

    .carousel-control .glyphicon-chevron-left {
        left: 0%;
        right: 0;
        width: 15px;
        height: 18px;
        margin-left: 30px;
    }

    .carousel-control .glyphicon-chevron-right {
        right: 0px;
        width: 15px;
        height: 18px;
    }




.carouselHome-contacto-contenedor {
    border: 1px solid#333;
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    height: 145px;
    overflow-y: auto;
}

    .carouselHome-contacto-contenedor a:hover {
        text-decoration: none;
    }

    .carouselHome-contacto-contenedor a {
        color: inherit;
        text-decoration: none;
    }

.carouselHome-contacto:hover {
    background-color: #eee;
}

.carouselHome-hora {
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    padding: 5px;
    padding-top: 13px;
    float: left;
}

.linea-carouselHome {
    border-bottom: 1px solid #333;
}


.carouselHome-contacto-contenedor a:last-of-type > .linea-carouselHome:last-of-type {
    border-bottom: none;
}

.carouselHome-sin-act {
    padding: 50px;
}

.highlighted{
    background-color:blue;
}


.contactos {
    display: inline-block;
    text-align: center;
    border: 1px solid #017940;
    color: #424242;
    font-size: 12px;
    font-weight: bold;
    float: right;
}

#sinAlta {
    margin-right: 3%;
    width: 31.2%;
}

#conAlta {
    margin-right: 0.5%;
    width: 47.3%
}

.sin-padding {
    padding: 0;
}

.contenedor-principal-miscontactos-grupo {
    margin-top: 3px;
}


.lista-contactos-datos-emailtelefono i {
    text-transform: lowercase;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 32px 32px;
    }

        .lds-roller div:after {
            content: " ";
            display: block;
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #017940;
            margin: -3px 0 0 -3px;
        }

        .lds-roller div:nth-child(1) {
            animation-delay: -0.036s;
        }

            .lds-roller div:nth-child(1):after {
                top: 50px;
                left: 50px;
            }

        .lds-roller div:nth-child(2) {
            animation-delay: -0.072s;
        }

            .lds-roller div:nth-child(2):after {
                top: 54px;
                left: 45px;
            }

        .lds-roller div:nth-child(3) {
            animation-delay: -0.108s;
        }

            .lds-roller div:nth-child(3):after {
                top: 57px;
                left: 39px;
            }

        .lds-roller div:nth-child(4) {
            animation-delay: -0.144s;
        }

            .lds-roller div:nth-child(4):after {
                top: 58px;
                left: 32px;
            }

        .lds-roller div:nth-child(5) {
            animation-delay: -0.18s;
        }

            .lds-roller div:nth-child(5):after {
                top: 57px;
                left: 25px;
            }

        .lds-roller div:nth-child(6) {
            animation-delay: -0.216s;
        }

            .lds-roller div:nth-child(6):after {
                top: 54px;
                left: 19px;
            }

        .lds-roller div:nth-child(7) {
            animation-delay: -0.252s;
        }

            .lds-roller div:nth-child(7):after {
                top: 50px;
                left: 14px;
            }

        .lds-roller div:nth-child(8) {
            animation-delay: -0.288s;
        }

            .lds-roller div:nth-child(8):after {
                top: 45px;
                left: 10px;
            }

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
