@media (min-width: 1026px) and (max-width:1281px) {
    .contenedor-principal-campanas-grano {
        display: inline-block;
        font-size: 14px;
        font-family: "G-Open Sans-n4", Arial;
        color: #757575;
        width: 40%;
    }

    .contenedor-principal-campanas-cantidad {
        display: inline-block;
        text-align: right;
        font-size: 14px;
        font-family: "G-Open Sans-n4", Arial;
        color: #757575;
        margin-left: 5px;
        margin-right: 15px;
        width: 23%;
    }
}



/*Celular*/

@media (max-width: 767px) {

    .marcador {
        margin: 0;
    }

    .contenedor-principal-miscontactos-titulo,
    .contenedor-principal-miscontactos-subtitulo {
        text-align: center;
    }

    .contenedor-principal-miscontactos-titulo {
        margin-top: 5px;
    }

    .contenedor-principal-widget {
        display: block;
        border: none !important;
        padding: 0 !important;
    }

    .contenedor-principal-campanas,
    .contenedor-principal-miscontactos {
        display: block;
        border: 0 !important;
        padding: 0 !important;
    }

    .contenedor-principal-campanas-titulo,
    .contenedor-principal-campanas-subtitulo,
    .contenedor-principal-miscontactos-grupo {
        text-align: center;
    }

    .contenedor-principal-miscontactos-detalle {
        width: 30%;
        margin-top: 5px;
    }

    .contenedor-principal-campanas {
        margin-top: 30px;
    }

    .contenedor-principal-campanas-grupo {
        text-align: center;
    }

    .contenedor-segundo-titulos {
        display: none;
    }

    .r-relative {
        margin: 0;
        height: auto;
    }

    .absoluto-mt20 {
        display: block;
        width: 100%;
        position: relative !important;
        height: auto !important;
        text-align: center;
    }

    .lista-contactos-general {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .carouselHome-contenedor {
        max-width: 250px;
    }

    /*#form-filtro {
        display: none;
    }*/


    .mostrar-filtro {
        display: block;
        text-align: center;
        font-size: 15px;
        color: #26337b;
        font-weight: bold;
        font-family: "G-Open Sans-n4", Arial;
    }

    .sin-padding {
        display: none;
    }

    .contenedor-segundo-filtro-campo div, .contenedor-segundo-filtro-campo label {
        width: 130px;
        margin: 0 auto;
        text-align: left;
    }

    #indicadores {
        display: none;
    }
    .lista-contacto-no-operable{
        float:none;
    }
}
/*Fin Celular*/


/* TABLET */

@media (min-width: 768px) and (max-width:1025px) {

    .contenedor-principal-widget {
        display: block;
        border: none !important;
        padding: 0 !important;
    }

    .contenedor-principal-miscontactos-titulo,
    .contenedor-principal-miscontactos-subtitulo {
        text-align: center;
    }

    .contenedor-principal-campanas,
    .contenedor-principal-miscontactos {
        display: block;
        border: 0 !important;
        padding: 0 !important;
    }

    .contenedor-principal-campanas-titulo,
    .contenedor-principal-campanas-subtitulo,
    .contenedor-principal-miscontactos-grupo {
        text-align: center;
    }

    .contenedor-principal-campanas {
        margin-top: 30px;
    }

    .contenedor-principal-campanas-grupo {
        text-align: center;
    }

    .contenedor-segundo-titulos {
        display: none;
    }

    .r-relative {
        margin: 0;
        height: auto;
    }

    .absoluto-mt20 {
        display: block;
        width: 100%;
        position: relative !important;
        height: auto !important;
        text-align: center;
    }

    .lista-contactos-general {
        display: block;
        width: 60%;
        margin: auto;
        padding: 0;
        text-align:center;
    }

    .carouselHome-contenedor {
        max-width: 250px;
    }

    .carousel-control .glyphicon-chevron-left {
        margin-left: 240px;
    }

    .carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
        left: -256px;
    }

    .contenedor-segundo-filtro-campo div, .contenedor-segundo-filtro-campo label {
        width: 130px;
        margin: 0 auto;
        text-align: left;
    }

    #conAlta {
        margin-right: 0.3%;
        width: 47.5%;
    }

    #sinAlta {
        margin-right: 2.3%;
        width: 31.6%;
    }

    .contactosHome {
       width:100%;
    }
}

/* FIN TABLET */

@media (min-width: 1025px) and (max-width: 1199px) {

    #conAlta {
        margin-right: 70px;
    }

    #sinAlta {
        margin-right: 78px;
    }
}
