
h3, .h3 {
    font-size: 18px;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 5px;
    margin-bottom: 9.5px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
    text-rendering: optimizelegibility;
}


.modal-lg {
  width: 900px !important;
}

.panel-heading {
  padding: 5px 15px;
}

.page-header.navbar {
    background: rgb(1, 121, 64);
}

.page-header.navbar .page-top {
    background: rgb(1, 121, 64);
}


.page-header.navbar .menu-toggler,
.heading .menu-toggler {
    background-image: url('../Content/assets/layouts/layout4/img/sidebar-toggle-light.png');
    height: 14px;
    width: 20px;
    display:inline-block;
    float:right;
}


.page-content-wrapper .page-content {
    padding: 0px 0px 0px 20px;
}


.page-header.navbar.navbar-fixed-top, .page-header.navbar.navbar-static-top {
    z-index:1;
}

.page-sidebar.navbar-collapse {
    min-height: 480px;
}

input.k-textbox, textarea.k-textbox {
    padding: 0px;
    margin-bottom:6px;
    margin-left:0px;
    margin-right:3px;
    margin-top:0px;
    height: 34px;
    width: 100%; 
}

span.k-widget.k-datepicker.k-header {
    padding: 0px;
    margin-bottom:6px;
    margin-left:0px;
    margin-right:3px;
    margin-top:0px;
}

span.k-widget.k-datetimepicker.k-header {
    padding: 0px;
    margin-bottom:6px;
    margin-left:0px;
    margin-right:3px;
    margin-top:0px;
}

span.k-widget.k-numerictextbox {
    padding: 0px;
    margin-bottom:6px;
    margin-left:0px;
    margin-right:3px;
    margin-top:0px;
}

span.k-widget.k-dropdown.k-header {
    padding: 0px;
    margin-left: 0px;
    margin-top: 3px;
    margin-bottom: 12px;
    margin-right: 3px;
    height: 27px ;
    width: 100% ; 
}

.bootstrap-dialog.type-primary .modal-header {
    background-color:#017940;
}


.bootstrap-dialog.type-warning .modal-header {
    background-color: #017940;
}

label {
    padding-top:7px;
}

a.k-button.k-button-icontext.k-grid-downloadButton {
    background: url('Images/arrow_down.gif') center center;
    background-repeat: no-repeat;
    height: 27px;
    width: 30px;
}

a.k-button.k-button-icontext.k-grid-downloadButton:hover {
    color: #fff;
    border-color: #8ebc00;
    background-color: #8ebc00;
}

a.k-button.k-button-icontext.k-grid-deleteButton {
    background: url('Images/delete.png') center center;
    background-repeat: no-repeat;
    height: 27px;
    width: 30px;
}

a.k-button.k-button-icontext.k-grid-deleteButton:hover {
    color: #fff;
    border-color: #8ebc00;
    background-color: #8ebc00;
}


a.k-button.k-button-icontext.k-grid-searchButton {
    background: url('Images/Find.png') center center;
    background-repeat: no-repeat;
    height: 27px;
    width: 30px;
}

a.k-button.k-button-icontext.k-grid-searchButton:hover {
    color: #fff;
    border-color: #8ebc00;
    background-color: #8ebc00;
}

span.k-delete {
	background: url('Images/delete.png') center center;
}

span.k-find {
    background: url('Images/Find.png') center center;
}

span.k-edit {
    background: url('Images/pencil.png') center center;
}


.k-grid tbody .k-button {
    min-width: 40px;
    width: 40px;
}

.ms-marginTop {
    margin-top: 20px;
}

.ms-marginTopLeft {
    margin-top: 20px;
    margin-left: 3px;
}

.ms-redlabel {
    color:red;
}

.top5 { 
    margin-top:5px; 
}

.k-tooltip{
   background: gold !important;
   border-color: gold !important;
   color: black !important; 
}


