/*Celular*/

@media (max-width: 767px) {

    .page-container{
        margin-top:20px!important;
    }

    .detalle-contacto-header-estado {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
    .contacto-detalle-basico {
        display: block;
        width: 100%;
        text-align: center;
    }
    .contacto-comercial-principal {
        width: 100%;
        margin: 20px auto;
    }
    
    .titulo-campaña,
    .detalle-contacto-header-exportar,
    .detalle-contacto-header-campana-filtro,
    .grupo-de-compras,
    .contacto-detalle-moa{
        text-align:center!important;
    }
    .contacto-detalle-comercial{
        margin-bottom:20px;
        text-align:center;
    }
    .grupo-de-compras{
        margin-left:0!important;
    }

    .detalle-contacto-header-exportar,
    .detalle-contacto-header-campana-filtro
    {
        width:100%;
        margin:0;
        padding:0;
        padding-top:3px;
    }

    .titulo-campaña,
    .contenedor-principal-campanas-grupo,
    .titulo-campaña,
    .margen-propio{
        margin:0;
    }

    .wd65p,
    .wd35p,
    .wd30p,
    .wd70p{
        display:block;
        width:100%;
        float:none;
        margin:0;
    }

    .contenedor-principal-campanas-grupo{
        margin:0 auto;
        width:100%;
        margin-top:20px;
    }

    .contenedor-principal-campanas-grano{
        text-align:center;

        width:90%;
    }

    .contenedor-principal-campanas-cantidad{
        display: table-cell;
        float: none;
        text-align: right;
        padding-right: 40px;
    }

    
    .datos-contacto-titular{
        margin-left:0;
        text-align:center;
    }

    .label-contacto{
        margin-left:40px;
    }
    .value-contacto{
        margin-left:40px;
    }

    .datos-produccion-cap-prod-editor-contenedor{
        margin:20px auto;
        float:none;
        width: 100%;
    }

    .contenedor-grupo-contactos-comerciales{
        width: 100%;
        margin: 20px auto;
    }

    .filtro-agenda{
        width:215px;
    }
    .historial-actividad{
        width:404px;
    }

    .agenda-contenedor-agregar-campo-input textarea{
        width: 166px;
    }

    .agenda-contenedor-agregar-campo-label{
        width:40%;
    }

    .exportar-contactos,
    .detalle-contacto-header-campana-filtro-select{
        width:45%;
        margin-left:5px;
        margin-right:5px;
    }

    .detalle-contacto-header-exportar{
        padding-top:6px;
    }

    .campañagrafico{
        margin-top:20px;
    }
    .titulo-campaña{
        margin-left:0!important;
    }

    .bordertopbottom {
        height: 80px;
        margin-left: 0;
        margin-right: 0;
    }
    .wizardeditar,
    .wizard-header-contenedor {
        width: auto;
        display: inline-block;
        padding-bottom: 0;
        padding-top: 10px;
        margin-left: 5px;
        margin-right: 5px;
        text-align: CENTER;
    }
    .wizard-editar{        
        
    }
    .campo-granos-objetivo .toneladasObjetivo{
        width:50%;    
        white-space: nowrap;
        max-width: 50%!important;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .campo-granos-objetivo .toneladasObjetivo:first-of-type{
        width:25%!important;
        overflow:auto!important;
        text-overflow:unset;
    }
    .campo-granos-objetivo .toneladasObjetivo:last-of-type{
        width:25%!important;
        overflow:auto!important;
        text-overflow:unset;
    }

    .datos-contacto-titulares{
        display:none;
    }

    .agenda-contenedor,
    .proximas-actividades-contenedor{
        display:block;
        width:100%;
        margin:20px auto;
        padding:5px;
        max-width:100%;
    }

    .span-contacto-no-operable{
        display:inline-block;
    }

    .contacto-detalle-basico-contenedor-operable{
        margin:0;
        margin:15px auto;
        display:none;
    }


    .lista-contacto-no-operable-tooltip-arrow, .lista-contacto-no-operable-tooltip {
        top: 45px;
        left: auto;
        right: auto!important;
        MARGIN-LEFT: 50%;
        transform: translateX(-50%);
    }

    .contacto-detalle-basico-contenedor-operable{
        text-align:center;
    }

    .lista-contacto-no-operable-tooltip-arrow{
        top: 33px;
        border-style: solid;
        border-width: 0 12px 12px 12px;
        border-color: transparent transparent #4f4f4f transparent;
    }
    
}

/*FIN CELULAR*/


/*TABLET*/
@media (min-width: 768px) and (max-width:1025px) {
    .detalle-contacto-header-estado {
        display: block;
        width: 100%;
        text-align: center;
    }
    .contacto-detalle-basico {
        display: block;
        width: 100%;
        text-align: center;
    }
    .contacto-comercial-principal {
        width: 50%;
        margin: 20px auto;
    }
    
    .titulo-campaña,
    .detalle-contacto-header-exportar,
    .detalle-contacto-header-campana-filtro,
    .grupo-de-compras,
    .contacto-detalle-moa{
        text-align:center!important;
    }
    .contacto-detalle-comercial{
        margin-bottom:20px;
        text-align:center;
    }
    .grupo-de-compras{
        margin-left:0!important;
    }

    .detalle-contacto-header-exportar,
    .detalle-contacto-header-campana-filtro
    {
        width:100%;
        margin:0;
        padding:0;
        padding-top:3px;
    }

    .titulo-campaña,
    .contenedor-principal-campanas-grupo,
    .titulo-campaña,
    .margen-propio{
        margin:0;
    }

    .wd65p,
    .wd35p,
    .wd30p,
    .wd70p{
        display:block;
        width:100%;
        float:none;
        margin:0;
    }

    .contenedor-principal-campanas-grupo{
        margin:0 auto;
        width:100%;
        margin-top:20px;
    }

    .contenedor-principal-campanas-grano{
        text-align:center;
    }

    .contenedor-principal-campanas-cantidad{
        display:table-cell;
        text-align:center;
        float:none;
    }

    
    .datos-contacto-titular{
        margin-left:0;
        text-align:center;
    }

    .label-contacto{
        margin-left:40px;
    }
    .value-contacto{
        margin-left:40px;
    }

    .datos-produccion-cap-prod-editor-contenedor{
        margin:20px auto;
        float:none;
    }

    .contenedor-grupo-contactos-comerciales{
        width: 50%;
        margin: 20px auto;
    }

    .filtro-agenda{
        width:215px;
    }
    .historial-actividad{
        width:404px;
    }

    .agenda-contenedor-agregar-campo-input textarea{
        width: 166px;
    }

    .agenda-contenedor-agregar-campo-label{
        width:40%;
    }
    .contacto-detalle-basico-contenedor-operable{
        margin:0;
        margin:15px auto;
        display:none;
        text-align: center;
    }
    .lista-contacto-no-operable-tooltip-arrow {
        right: auto;
        left: 412px;
    }

    .lista-contacto-no-operable-tooltip {
        right: auto;
        left: 424px;
    }

}

/*FIN TABLET*/