#grid {
    /*overflow-x: auto;*/
    white-space: nowrap;
}
.k-grid {
    font-size: 11px;
}

.k-grid-header th.k-with-icon .k-link {
    margin-right: 14px;
}
.k-grid-header th.k-header > .k-link {

    padding-right: 2px;
}
.page-container {
    max-width: 100%;
    overflow-x: hidden;
    width: 2000px;
}
.ColumnaObservacion {
    width: 120px;
}
.k-button.k-button-icontext .k-icon {
    vertical-align: middle;
}

.k-icon.k-i-file-excel {
    color: green;
    font-size: 28px;
    overflow: visible;
}

div > label {
    margin-left: 10px;
}

.k-filter-menu .k-button {
    width: auto!important;
}

.resultado{
    overflow-x:scroll;
}

.filtro-desplegable {
    border-bottom: 3px solid #017940;
    margin-bottom: 10px;
    padding: 0 0 5px 20px;
    cursor: pointer;
}
.filtro {
    color: #017940;
    font-size: 14px;
    font-weight: bold;
    font-family: "Open Sans",sans-serif;
    text-align: center;
}
.k-button:hover .filtro{
    color: #FFF;
}
.k-icon.k-i-close {
    display: none !important;
}


.k-widget.k-multiselect.multiselect.k-multiselect-clearable {
    overflow: auto !important;
    max-height: 35px !important;
}
.k-icon.k-i-loading.k-hidden{
    display:none;
}

.noLeftPadding{
    padding-left:0;
}
.noRightPadding {
    padding-right: 0;
}
.front{
    z-index:1000;
}


.modal-content {
    border-radius: 0 !important;
    padding: 10px 15px 15px 15px;
}

.confirmado-modal div {
    background: #008e61 !important;
}

.modal .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    background: none !important;
    text-indent: 0;
}

.modal .modal-header .cerrar {
    margin-top: 0.8rem !important;
    margin-right: 0.5rem;
}

.modal .modal-header {
    padding: 6px;
    border-bottom: none;
}

.modal .modal-body {
    padding: 0 15px 0px 15px;
}

.modal-body {
    max-height: 400px;
    overflow-y: auto;    
}
.status div {
    font-size: 12px;
    text-align: left;
    margin: 10px 0;
    border: 0;
    color: #FFF;
    padding: 3px;
    font-weight: 700;
}
.toolbar {
    float: right;
}


.grupo-totales {
    border: 1px solid green;
    color: #26337B;
    border-radius: 5px !important;
    display: inline-block;
}