table {
    margin: 15px 0;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid black;
    width:100%;
}
table tr{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.titulos {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background: #017940;
    color:white;
    font-size:12px
}

td, th{
    text-align:center;
}
 
.row {
    background: white;
}

#MonedaKilo th {
    background: #017940;
    color: white;
    font-size: 12px
}
#MonedaKilo td {
    background: white;
    color:black;
}

#MonedaKilo {
    border-top: 2px solid black;
}

a.Descarga {
    background: url(../Content/Images/Excel.png) no-repeat top left;
    display: block;
    width: 17px;
    text-indent: -9999px; 
}

#ComprasToneladasTipo{
    width:100%;
}
#MonedaKilo th{
    width:115px;
}