#grid {
    overflow-x: auto;
    white-space: nowrap;
}

.k-grid {
    font-size: 11px;
}

.k-grid-header th.k-with-icon .k-link {
    margin-right: 14px;
}

.k-grid-header th.k-header > .k-link {
    padding-right: 2px;
}

.page-container {
    max-width: 100%;
    overflow-x: hidden;
    width: 2000px;
}
.status.sinctg {
    background-color: #179e2b;
    color: #fff;
}
.ctg { /*icons*/
    color: #179e2b;
}

.status.activado {
    background-color: #ffc100;
    color: #fff;
}
.act { /*icons*/
    color: #ffc100;
}

.status.arribado {
    background-color: #00adf5;
    color: #fff;
}
.arr { /*icons*/
    color: #00adf5;
}

.status.descargado {
    background-color: #000000;
    color: #dbdbdb;
}
.des { /*icons*/
    color: #d00707;
}

.status.sinstop {
    background-color: #ac67ca;
    color: #ffffff;
}
.sto { /*icons*/
    color: #ac67ca;
}

.status.anulado {
    background-color: #848484;
    color: #fff;
}
.anu { /*icons*/
    color: #848484;
}

.status.error {
    background-color: #d00707;
    color: #ffffff;
}
.err { /*icons*/
    color: #d00707;
}

.k-filter-menu{
    width:inherit;
}

.status div {
    font-size: 12px;
    text-align: left;
    margin: 10px 0;
    border: 0;
    color: #FFF;
    padding: 3px;
    font-weight: 700;
}