.bordertopbottom{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    height:55px;
    margin-left:15px;
    margin-right:15px;
}

.wizard-header-contenedor{
    color:#017940;
    font-size:14px;
    font-weight:bold;
    font-family: "Open Sans",sans-serif;
}
.wizard-header-contenedor{
    width: 170px;
    display: inline-block;
    padding-bottom: 10px;
    padding-top: 18px;
    border-bottom:5px solid transparent;
    margin-left:15px;
    margin-right:15px;
    cursor:pointer;
}

.whcsub-selected,
.whc-selected{
    border-bottom:5px solid #017940;
}

.wizard-header-contenedor-grupo{
    width:100%;
    text-align:center;
}

.campo{
	width:210px;
}

.texto-campo,
.input-campo{
	display:inline-block;
}

.derecha{
	width:79%;
	display:inline-block;
	vertical-align:top;
	padding:25px;
}


#graficoR{
	height:450px;
}



#graficoGR,
.grafico,
.filtro,
.botones{
	display:none;
	
}

#graficoGR{
	margin-bottom:20px;
}

.filtro{
	width:20%;
	display:inline-block;
	vertical-align:top;
	border-right: 1px solid #333;
	margin-top: 15px;
	min-height:450px;
}

.filtro .wizard-header-contenedor{
	cursor:default;
	width:150px;
}

.botones
{
	text-align:center;
	margin-bottom:20px;
}

#btn-filtrar,
#btn-exportar{
	width:120px;
	border:1px solid #017940;
	border-radius:5px;
	margin: 0 auto;
	height:30px;
	padding-top:5px;
	cursor:pointer;
}

#btn-filtrar:hover,
#btn-exportar:hover{
	background-color: #017940;
	color:#fff;
}

#btn-exportar{
    margin-top:20px;
}

#filtros-titulo{
	margin-bottom:0;
	padding-bottom:0;
}

select:not(.excluir){
    width:150px;
    color: rgb(117, 117, 117);
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    border-radius: 5px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-align-last: left;
    height: 31px;
    margin-left: 7px;
}

input:not([name="multiselect_txtsegmentacion"],.buscador-nav-input)
{
    width:150px;
    color: rgb(117, 117, 117);
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    border-radius: 5px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-align-last: left;
    height: 31px;
    margin-left: 7px;
}
/*Segmentacion*/

.contenedor-segundo-filtro-campo-segmentacion select{
    width:70%;
}

.lista-contactos-estado-estrellas img,
.contenedor-segundo-filtro-campo-segmentacion img{
    width:18px;
    height:18px;
    vertical-align:top;
}


.contenedor-segundo-filtro-campo-segmentacion{
    margin-top:10px;
    margin-bottom:10px;
}

.contenedor-segundo-filtro-campo-segmentacion select{
    color: rgb(117, 117, 117);
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    border-radius: 5px;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-align-last: left;
    height:31px;
    width:150px;
    margin-left:7px;
}



/*.contenedor-segundo-filtro-campo-segmentacion input{
    vertical-align:top;
}

.contenedor-segundo-filtro-campo-segmentacion div,
.contenedor-segundo-filtro-campo-segmentacion label{
    color:#b8b8b8;
    font-family: "G-Open Sans-n4", Arial;
    font-size:14px;
    font-weight:bold;
    margin-top:5px;
    cursor:pointer;
    display:block;
    padding-left: 15px!important;
}*/



.ui-icon-triangle-2-n-s {
    background-position: -67px -16px;
    margin-top: 2px;
}

button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all{
    border-radius: 5px!important;
    height: 31px;
    width: 150px!important;
    margin-left: 7px;
    color: rgb(117, 117, 117);
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    border-style: solid;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    text-align: left;
    text-align-last: left;
    background-color: #fff;
}

button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all.ui-state-active{
    color:#fff;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    border: 1px solid #017940;
    background: #017940;
}

button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all span:nth-child(even){
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}


ul.ui-multiselect-checkboxes.ui-helper-reset span {
    font-family: "G-Open Sans-n4", Arial !important;
    color: #757575;
    font-size: 13px;
}

