.textoDerecha{
    text-align: right;
}

.ancho {
    width:100%;
}

.fuente {
    font-size: 25px;
}

.alinearCentro {
    text-align: center;
}

.sinBorde{
    border: 0 !important;
}
table, td, th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 6px;
}
.btn-color {
    color: #ffffff;
    background-color: #016d27;
    border-color: #2e5a05;
    margin-top: 7px;
    border-radius: 8px !important;
    
}
#ModalRolPermiso {
    z-index: 1050 !important;
}

.page-content-wrapper .page-content {
    padding: 15px !important;
}

.k-grid td {
    white-space: nowrap;
    text-overflow: ellipsis;
}

td.permisos{
    padding-left:45px;
}

th.permisos {
    padding-left: 25px;
}

td,th{
    padding:5px;
}