
/*CELULAR*/
@media (max-width: 767px) { 

    .nav-bar-segundo .navbar-collapse ul:first-of-type {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width:1024px) {
    .navbar.navbar-inverse.navbar-fixed-top.nav-bar-segundo .container ul {
        display: block;        
        text-align: center;
    }
   

    /*.navbar-nav {
        float: none;
        width: auto;
        display: inline-block;
    }*/

        /*.navbar-nav > li {
            float: none;
            display: inline-block;
        }*/

    /*.container {
        width: 100%;
        padding: 0;
        margin: 0;
        max-width: 100%;
    }*/

    /*.navbar-collapse {
        padding: 0;
    }*/


    /*.page-container {
        margin-top: 190px !important;
    }*/

}

@media (max-width:340px) {
    #notas {
        display: none;
    }
}
   

    @media (max-width: 1030px) {
        .nav-bar-segundo .navbar-collapse ul:first-of-type {
        display: none !important;
    }

    .navbar.navbar-inverse.navbar-fixed-top.nav-bar-segundo .container ul {
        display: block;
        width: 100%;
        text-align: center;
    }

    #links {
        display: none !important;
    }
}






