body {
    background-color: #017940;
    padding: 25px;
}

.terminos-header {
    color: white;
    font-size: 18px;
}

.terminos-body {
    background-color: #9bd4b9;
    border-radius: 15px;
    padding: 15px;
    text-align: justify;
}
.terminos-titulo{
    padding-top:7%;
}
@media screen and (max-width: 992px) {
    .md-center {
        text-align: center;
    }
    .terminos-titulo {
        padding-top: 0;
        padding-bottom: 7%;
    }
}

.boton-volver {
    margin-top: 10px !important;
    width: 200px;
    margin: 0 auto;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

    .boton-volver:hover {
        background-color: #5da985;
    }
