<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    
  </configSections>
  <connectionStrings>
    <!--<add name="DataAgro" connectionString="Data Source=GVICSQLAPP2016.molinosagro.ad; Initial Catalog=Dataagro; Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="DataAgro" connectionString="Data Source=gvicsqltest2016.molinosagro.ad; Initial Catalog=Dataagro; Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DataAgro" connectionString="Data Source=.\sqlexpress;Initial Catalog=DataAgro;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />
    <!--<add name="DataAgro" connectionString="Data Source=bfdev226;Initial Catalog=DataAgro2;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
 
  <appSettings>
    <add key="SISA" value="C:\Img\RG_4310.txt" />
    <add key="Rg2300" value="C:\Img\RG2300.LST" />
    <add key="Facacop" value="C:\Img\facacop.txt" />
    <add key="UsuariosEnSap" value="BADIOLAJ,BATCHILG,BILBAOG,CANOSAL,CANTELIM,CHAULETR,CAPELLJ,FIOREL,LASOH,LOPEZA,MANFREDS,MELOA,MONTORFR,SCASSOC,TALANOG,VALONIM,VARGASF,VICENTEP,GONZALAL,LADOGANC,CARDENAE,FERGUSOJ,MEDINAS,ERBOJOD,DEANCHOI,LISOUSKF,LIENG,FRATINIA,FIOREU,PASMANI,ROBIOLOM,GULLININ,DIANDAF,SIMALR,BENTIVOH,BELLADER,LEONORICL,LERINID,DOMINGUJ,SIMONDIA,VENTURIM,FUNESJ" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SmtpServer" value="smtp.gmail.com" />
    <add key="SmtpServerPort" value="587" />
    <add key="ImapServer" value="imap.gmail.com" />
    <add key="ImapServerPort" value="993" />
    <add key="EnableSSL" value="S" />
    <add key="SmtpAnonimo" value="N" />
    <add key="UseDefaultCredentials" value="S" />
    <add key="CredentialUserName" value="dataagro.baufest@gmail.com" />
    <add key="CredentialPassword" value="Hola1234" />
    <add key="AmbientePruebas" value="1" />
    <add key="EmailAgenda" value="1" />
    <add key="maildeUsuarios" value="scato-soporte@baufest.com" />
    <add key="SapUser" value="GWEBSRV_DAGR" />
    <add key="SapPass" value="Data2015" />
    <add key="SinConexionSap" value="1" />
    <add key="ValorPruebaSap" value="1" />
    <add key="SapPruebaCUIT" value="30708820950" />
    <add key="usuarioLaura" value="1" />
    <add key="usuarioLaurastring" value="A" />
    <add key="SapPruebaUser" value="B" />
    <add key="RiesgoComercialAltoSap" value="a" />
    <add key="SitNoIncluida" value="no incluido" />
    <add key="SitExcluido" value="excluido" />
    <add key="SitSuspendido" value="suspendido" />
    <add key="NoCliente" value="5" />
    <add key="PotencialCliente" value="1" />
    <add key="AgendaCita" value="3" />
    <add key="AgendaTareas" value="2" />
    <add key="ActualizarEstado" value="0" />
    <add key="DesactivarToken" value="1" />
    <add key="ServiceUser" value="baunet\jenkinsgys" />
    <add key="ServicePass" value="J3n|&lt;B@unEt" />
    <add key="CampanaDesde" value="15-16" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644" />
    <add key="CampanaDesde" value="15-16" />
    <add key="UrlBaseSTOP" value="https://demo.ssta.gob.ar/turnos/" />
  </appSettings>
  <location path="Auth">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <authentication mode="Forms" />
    <authorization>
      <deny users="?" />
    </authorization>
    <customErrors mode="Off" defaultRedirect="~/Error/" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom />
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="serviceBehaviorSAP">
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceCredentials>
            <windowsAuthentication allowAnonymousLogons="false" includeWindowsGroups="false" />
          </serviceCredentials>
          <serviceAuthorization serviceAuthorizationManagerType="WebDataAgro.Seguridad.AuthorizationManager, WebDataAgro">
          </serviceAuthorization>
        </behavior>
        <behavior name="serviceBehaviorAuth">
          <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500" />
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceCredentials>
            <windowsAuthentication allowAnonymousLogons="false" includeWindowsGroups="false" />
          </serviceCredentials>
          <serviceAuthorization serviceAuthorizationManagerType="WebDataAgro.Seguridad.AuthorizationAuthManager, WebDataAgro">
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="WebDataAgro.Services.DataAgroServices" behaviorConfiguration="serviceBehaviorSAP">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="DataAgroServicesBinding" contract="WebDataAgro.Services.IDataAgroServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="WebDataAgro.Services.AuthService" behaviorConfiguration="serviceBehaviorAuth">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="CommonBinding" contract="WebDataAgro.Services.IAuthService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <!--<binding name="DataAgroServicesBinding" maxReceivedMessageSize="2147483647" />-->
        <binding name="DataAgroServicesBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic" />
          </security>
        </binding>
        <binding name="CommonBinding">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Ntlm" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="SI_ZMPWS_DATAAGRO_DATOS_Binding" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <textMessageEncoding messageVersion="Soap11" />
          <httpTransport authenticationScheme="Basic" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="false" proxyAuthenticationScheme="Basic" realm="XISOAPApps" useDefaultWebProxy="true" maxReceivedMessageSize="2000000000" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_DATOS_COMPRAS&amp;interfaceNamespace=namespace%3Adataagro" binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding" contract="Compras.SI_ZMPWS_DATAAGRO_DATOS_COMPRAS" name="HTTP_Port" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_RIESGO_COMERCIAL&amp;interfaceNamespace=namespace%3Adataagro" binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding" contract="RiesgoComercial.SI_ZMPWS_DATAAGRO_RIESGO_COMERCIAL" name="HTTP_Port1" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_DATOS_PROVEEDOR&amp;interfaceNamespace=namespace%3Adataagro" binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding" contract="DatosDelProveedor.SI_ZMPWS_DATAAGRO_DATOS_PROVEEDOR" name="HTTP_Port2" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_DATOS_COMERCIALES&amp;interfaceNamespace=namespace%3Adataagro" binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding" contract="DatosDelComercial.SI_ZMPWS_DATAAGRO_DATOS_COMERCIALES" name="HTTP_Port3" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_PRE_SLIP&amp;interfaceNamespace=namespace%3Adataagro" binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding" contract="FinalizarContrato.SI_ZMPWS_DATAAGRO_PRE_SLIP" name="HTTP_Port4" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CONSULTAR_RP&amp;interfaceNamespace=namespace%3Adataagro" binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding" contract="RelacionCorredorProveedor.SI_ZMPWS_DATAAGRO_CONSULTAR_RP" name="HTTP_Port5" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACION&amp;interfaceNamespace=namespace%3Adataagro" binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding" contract="ContratosParaFijacion.SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACION" name="HTTP_Port6" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACION&amp;interfaceNamespace=namespace%3Adataagro" binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding" contract="FinalizarFijacion.SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACION" name="HTTP_Port7" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_ANULACION_CONTRATO&amp;interfaceNamespace=namespace%3Adataagro" binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding" contract="AnulacionContratos.SI_ZMPWS_DATAAGRO_ANULACION_CONTRATO" name="HTTP_Port8" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_TIPO_DE_CAMBIO&amp;interfaceNamespace=namespace%3Adataagro" binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding" contract="TipoDeCambio.SI_ZMPWS_DATAAGRO_TIPO_DE_CAMBIO" name="HTTP_Port9" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CREAR_CUPOS&amp;interfaceNamespace=namespace%3Adataagro" binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding" contract="CrearCupo.SI_ZMPWS_DATAAGRO_CREAR_CUPOS" name="HTTP_Port10" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_ANULAR_CUPOS&amp;interfaceNamespace=namespace%3Adataagro" binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding" contract="AnularCupo.SI_ZMPWS_DATAAGRO_ANULAR_CUPOS" name="HTTP_Port11" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_ALTA_TEMPRANA_N_R_CO&amp;interfaceNamespace=namespace%3Adataagro" binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding" contract="AltaTempranaNosisBolsaRuca.SI_ZMPWS_DATAAGRO_ALTA_TEMPRANA_N_R_CO" name="HTTP_Port12" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CAPACIDAD_PRODUCTIVA&amp;interfaceNamespace=namespace%3Adataagro" binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding" contract="CapacidadProductiva.SI_ZMPWS_DATAAGRO_CAPACIDAD_PRODUCTIVA" name="HTTP_Port13" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_MODIFICAR_CUPO&amp;interfaceNamespace=namespace%3Adataagro" binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding" contract="ModificarCupos.SI_ZMPWS_DATAAGRO_MODIFICAR_CUPO" name="HTTP_Port14" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATO&amp;interfaceNamespace=namespace%3Adataagro" binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding" contract="ModificarContratoFinalizado.SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATO" name="HTTP_Port15" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_PRECIO_PIZARRA&amp;interfaceNamespace=namespace%3Adataagro" binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding" contract="PrecioPizarra.SI_ZMPWS_DATAAGRO_PRECIO_PIZARRA" name="HTTP_Port16" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
      <add name="ClaimsTransformationHttpModule" type="WebDataAgro.Seguridad.ClaimsTransformationHttpModule" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <outboundRules>
        <rule name="server">
          <match serverVariable="RESPONSE_SERVER" pattern=".*" />
          <action type="Rewrite" />
        </rule>
        <rule name="RESPONSE_X-Powered-By">
          <match serverVariable="RESPONSE_X-Powered-By" pattern=".*" />
          <action type="Rewrite" />
        </rule>
        <rule name="RESPONSE_X-ASPNET-VERSION">
          <match serverVariable="RESPONSE_X-ASPNET-VERSION" pattern=".*" />
          <action type="Rewrite" />
        </rule>
        <rule name="RESPONSE_X-AspNetMvc-Version">
          <match serverVariable="RESPONSE_X-AspNetMvc-Version" pattern=".*" />
          <action type="Rewrite" />
        </rule>
      </outboundRules>
      <!--
  <rules>
      <rule name="http a https" stopProcessing="true">
        <match url="(.*)" />
        <conditions>
          <add input="{HTTPS}" pattern="^OFF$" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
      </rule>
    </rules>
  -->
    </rewrite>
    <httpRedirect enabled="false" destination="https://www.dataagro.com.ar" exactDestination="false" childOnly="true" httpResponseStatus="Permanent" />
    <httpErrors errorMode="Custom">
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="403" prefixLanguageFilePath="" path="/Error/" responseMode="ExecuteURL" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/Error/" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <system.identityModel>
    <identityConfiguration>
      <claimsAuthenticationManager type="WebDataAgro.Seguridad.DataAgroClaimsAuthenticationManager, WebDataAgro, Version=1.0.0.0, Culture=neutral" />
      <securityTokenHandlers>
        <add type="System.IdentityModel.Services.Tokens.MachineKeySessionSecurityTokenHandler, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <remove type="System.IdentityModel.Tokens.SessionSecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </securityTokenHandlers>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler mode="Default" requireSsl="false" />
    </federationConfiguration>
  </system.identityModel.services>
</configuration>