<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataAgroServices" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49414/DataAgroServices.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataAgroServices"
          contract="DataAgroServicesProxy.IDataAgroServices" name="BasicHttpBinding_IDataAgroServices" />
    </client>
  </system.serviceModel>
</configuration>