<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SI_ZMPWS_DATAAGRO_RIESGO_COMERCIALBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_RIESGO_COMERCIALBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_DATOS_PROVEEDORBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_DATOS_PROVEEDORBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_DATOS_COMERCIALESBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_DATOS_COMERCIALESBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_PRE_SLIPBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_PRE_SLIPBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_CONSULTAR_RPBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_CONSULTAR_RPBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACIONBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACIONBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACIONBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACIONBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_ANULACION_CONTRATOBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_ANULACION_CONTRATOBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_TIPO_DE_CAMBIOBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_TIPO_DE_CAMBIOBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_CREAR_CUPOSBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_CREAR_CUPOSBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_ANULAR_CUPOSBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_ANULAR_CUPOSBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_ALTA_TEMPRANA_N_R_COBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_ALTA_TEMPRANA_N_R_COBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_CAPACIDAD_PRODUCTIVABinding" />
        <binding name="SI_ZMPWS_DATAAGRO_CAPACIDAD_PRODUCTIVABinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_MODIFICAR_CUPOBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_MODIFICAR_CUPOBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATOBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATOBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_PRECIO_PIZARRABinding" />
        <binding name="SI_ZMPWS_DATAAGRO_PRECIO_PIZARRABinding1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_RIESGO_COMERCIAL&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_RIESGO_COMERCIALBinding"
        contract="RiesgoComercial.SI_ZMPWS_DATAAGRO_RIESGO_COMERCIAL"
        name="HTTP_Port" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_RIESGO_COMERCIAL&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_RIESGO_COMERCIALBinding1"
        contract="RiesgoComercial.SI_ZMPWS_DATAAGRO_RIESGO_COMERCIAL"
        name="HTTPS_Port" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_DATOS_PROVEEDOR&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_PROVEEDORBinding"
        contract="DatosDelProveedor.SI_ZMPWS_DATAAGRO_DATOS_PROVEEDOR"
        name="HTTP_Port1" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_DATOS_PROVEEDOR&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_PROVEEDORBinding1"
        contract="DatosDelProveedor.SI_ZMPWS_DATAAGRO_DATOS_PROVEEDOR"
        name="HTTPS_Port1" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_DATOS_COMERCIALES&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_COMERCIALESBinding"
        contract="DatosDelComercial.SI_ZMPWS_DATAAGRO_DATOS_COMERCIALES"
        name="HTTP_Port2" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_PRE_SLIP&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_PRE_SLIPBinding"
        contract="FinalizarContrato.SI_ZMPWS_DATAAGRO_PRE_SLIP" name="HTTP_Port3" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_PRE_SLIP&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_PRE_SLIPBinding1"
        contract="FinalizarContrato.SI_ZMPWS_DATAAGRO_PRE_SLIP" name="HTTPS_Port2" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CONSULTAR_RP&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_CONSULTAR_RPBinding"
        contract="RelacionCorredorProveedor.SI_ZMPWS_DATAAGRO_CONSULTAR_RP"
        name="HTTP_Port4" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CONSULTAR_RP&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_CONSULTAR_RPBinding1"
        contract="RelacionCorredorProveedor.SI_ZMPWS_DATAAGRO_CONSULTAR_RP"
        name="HTTPS_Port3" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_ANULACION_CONTRATO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_ANULACION_CONTRATOBinding"
        contract="AnulacionContratos.SI_ZMPWS_DATAAGRO_ANULACION_CONTRATO"
        name="HTTP_Port6" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_ANULACION_CONTRATO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_ANULACION_CONTRATOBinding1"
        contract="AnulacionContratos.SI_ZMPWS_DATAAGRO_ANULACION_CONTRATO"
        name="HTTPS_Port6" />
      <endpoint address="http://gvicpidev01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACION&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACIONBinding"
        contract="ContratosParaFijacion.SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACION"
        name="HTTP_Port5" />
      <endpoint address="https://gvicpidev01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACION&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACIONBinding1"
        contract="ContratosParaFijacion.SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACION"
        name="HTTPS_Port4" />
      <endpoint address="http://gvicpidev01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACION&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACIONBinding"
        contract="FinalizarFijacion.SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACION"
        name="HTTP_Port7" />
      <endpoint address="https://gvicpidev01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACION&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACIONBinding1"
        contract="FinalizarFijacion.SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACION"
        name="HTTPS_Port5" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_TIPO_DE_CAMBIO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_TIPO_DE_CAMBIOBinding"
        contract="TipoDeCambio.SI_ZMPWS_DATAAGRO_TIPO_DE_CAMBIO" name="HTTP_Port8" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_TIPO_DE_CAMBIO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_TIPO_DE_CAMBIOBinding1"
        contract="TipoDeCambio.SI_ZMPWS_DATAAGRO_TIPO_DE_CAMBIO" name="HTTPS_Port7" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CREAR_CUPOS&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_CREAR_CUPOSBinding"
        contract="CrearCupo.SI_ZMPWS_DATAAGRO_CREAR_CUPOS" name="HTTP_Port9" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CREAR_CUPOS&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_CREAR_CUPOSBinding1"
        contract="CrearCupo.SI_ZMPWS_DATAAGRO_CREAR_CUPOS" name="HTTPS_Port8" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_ANULAR_CUPOS&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_ANULAR_CUPOSBinding"
        contract="AnularCupo.SI_ZMPWS_DATAAGRO_ANULAR_CUPOS" name="HTTP_Port10" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_ANULAR_CUPOS&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_ANULAR_CUPOSBinding1"
        contract="AnularCupo.SI_ZMPWS_DATAAGRO_ANULAR_CUPOS" name="HTTPS_Port9" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_ALTA_TEMPRANA_N_R_CO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_ALTA_TEMPRANA_N_R_COBinding"
        contract="AltaTempranaNosisBolsaRuca.SI_ZMPWS_DATAAGRO_ALTA_TEMPRANA_N_R_CO"
        name="HTTP_Port11" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_ALTA_TEMPRANA_N_R_CO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_ALTA_TEMPRANA_N_R_COBinding1"
        contract="AltaTempranaNosisBolsaRuca.SI_ZMPWS_DATAAGRO_ALTA_TEMPRANA_N_R_CO"
        name="HTTPS_Port10" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CAPACIDAD_PRODUCTIVA&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_CAPACIDAD_PRODUCTIVABinding"
        contract="CapacidadProductiva.SI_ZMPWS_DATAAGRO_CAPACIDAD_PRODUCTIVA"
        name="HTTP_Port12" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CAPACIDAD_PRODUCTIVA&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_CAPACIDAD_PRODUCTIVABinding1"
        contract="CapacidadProductiva.SI_ZMPWS_DATAAGRO_CAPACIDAD_PRODUCTIVA"
        name="HTTPS_Port11" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_MODIFICAR_CUPO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_MODIFICAR_CUPOBinding"
        contract="ModificarCupos.SI_ZMPWS_DATAAGRO_MODIFICAR_CUPO" name="HTTP_Port13" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_MODIFICAR_CUPO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_MODIFICAR_CUPOBinding1"
        contract="ModificarCupos.SI_ZMPWS_DATAAGRO_MODIFICAR_CUPO" name="HTTPS_Port12" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATOBinding"
        contract="ModificarContratoFinalizado.SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATO"
        name="HTTP_Port14" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATOBinding1"
        contract="ModificarContratoFinalizado.SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATO"
        name="HTTPS_Port13" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_PRECIO_PIZARRA&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_PRECIO_PIZARRABinding"
        contract="PrecioPizarra.SI_ZMPWS_DATAAGRO_PRECIO_PIZARRA" name="HTTP_Port15" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_PRECIO_PIZARRA&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_PRECIO_PIZARRABinding1"
        contract="PrecioPizarra.SI_ZMPWS_DATAAGRO_PRECIO_PIZARRA" name="HTTPS_Port14" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>