<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SI_ZMPWS_DATAAGRO_RIESGO_COMERCIALBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_RIESGO_COMERCIALBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_DATOS_PROVEEDORBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_DATOS_PROVEEDORBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_DATOS_COMERCIALESBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_DATOS_COMERCIALESBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_PRE_SLIPBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_PRE_SLIPBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_CONSULTAR_RPBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_CONSULTAR_RPBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACIONBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACIONBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACIONBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACIONBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_ANULACION_CONTRATOBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_ANULACION_CONTRATOBinding1">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_RIESGO_COMERCIAL&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_RIESGO_COMERCIALBinding"
        contract="RiesgoComercial.SI_ZMPWS_DATAAGRO_RIESGO_COMERCIAL"
        name="HTTP_Port" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_RIESGO_COMERCIAL&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_RIESGO_COMERCIALBinding1"
        contract="RiesgoComercial.SI_ZMPWS_DATAAGRO_RIESGO_COMERCIAL"
        name="HTTPS_Port" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_DATOS_PROVEEDOR&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_PROVEEDORBinding"
        contract="DatosDelProveedor.SI_ZMPWS_DATAAGRO_DATOS_PROVEEDOR"
        name="HTTP_Port1" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_DATOS_PROVEEDOR&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_PROVEEDORBinding1"
        contract="DatosDelProveedor.SI_ZMPWS_DATAAGRO_DATOS_PROVEEDOR"
        name="HTTPS_Port1" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_DATOS_COMERCIALES&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_COMERCIALESBinding"
        contract="DatosDelComercial.SI_ZMPWS_DATAAGRO_DATOS_COMERCIALES"
        name="HTTP_Port2" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_PRE_SLIP&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_PRE_SLIPBinding"
        contract="FinalizarContrato.SI_ZMPWS_DATAAGRO_PRE_SLIP" name="HTTP_Port3" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_PRE_SLIP&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_PRE_SLIPBinding1"
        contract="FinalizarContrato.SI_ZMPWS_DATAAGRO_PRE_SLIP" name="HTTPS_Port2" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CONSULTAR_RP&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_CONSULTAR_RPBinding"
        contract="RelacionCorredorProveedor.SI_ZMPWS_DATAAGRO_CONSULTAR_RP"
        name="HTTP_Port4" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CONSULTAR_RP&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_CONSULTAR_RPBinding1"
        contract="RelacionCorredorProveedor.SI_ZMPWS_DATAAGRO_CONSULTAR_RP"
        name="HTTPS_Port3" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACION&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACIONBinding"
        contract="ContratosParaFijacion.SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACION"
        name="HTTP_Port5" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACION&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACIONBinding1"
        contract="ContratosParaFijacion.SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACION"
        name="HTTPS_Port4" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_ANULACION_CONTRATO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_ANULACION_CONTRATOBinding"
        contract="AnulacionContratos.SI_ZMPWS_DATAAGRO_ANULACION_CONTRATO"
        name="HTTP_Port6" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_ANULACION_CONTRATO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_ANULACION_CONTRATOBinding1"
        contract="AnulacionContratos.SI_ZMPWS_DATAAGRO_ANULACION_CONTRATO"
        name="HTTPS_Port6" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACION&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACIONBinding"
        contract="FinalizarFijacion.SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACION"
        name="HTTP_Port7" />
      <endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACION&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACIONBinding1"
        contract="FinalizarFijacion.SI_ZMPWS_DATAAGRO_REGISTRAR_FIJACION"
        name="HTTPS_Port5" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>