<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <appSettings>
    <add key="UrlBaseControlBoletosIa" value="http://localhost:8000" />
    <add key="ApiTokenControlBoletosIa" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SI_ZMPWS_DATAAGRO_PRE_SLIPBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_PRE_SLIPBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACIONBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACIONBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATOBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATOBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_DISPONIBILIDAD_CUPOSBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_DISPONIBILIDAD_CUPOSBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_ADMIN_CUPOSBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_ADMIN_CUPOSBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IServicioRepositorio" />
        <binding name="SI_ZMPWS_DATAAGRO_CONTRATO_CANJE_GENEBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_REG_ORD_PROCESAMIENTOBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_REG_ORD_PROCESAMIENTOBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_ACUERDOS_GENERADOSBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="SI_ZMPWS_DATAAGRO_VALIDAR_CANT_ACUERDOBinding" />
        <binding name="SI_ZMPWS_DATAAGRO_VALIDAR_CANT_ACUERDOBinding1">
          <security mode="Transport" />
        </binding>
        <binding name="Default">
          <security mode="TransportWithMessageCredential">
            <message algorithmSuite="Basic128" />
          </security>
        </binding>
        <binding name="Default1">
          <security mode="TransportWithMessageCredential">
            <message algorithmSuite="Basic128" />
          </security>
        </binding>
        <binding name="Default2">
          <security mode="TransportWithMessageCredential">
            <message algorithmSuite="Basic128" />
          </security>
        </binding>
        <binding name="Default3">
          <security mode="TransportWithMessageCredential">
            <message algorithmSuite="Basic128" />
          </security>
        </binding>
        <binding name="Default4">
          <security mode="TransportWithMessageCredential">
            <message algorithmSuite="Basic128" />
          </security>
        </binding>
        <binding name="Default5">
          <security mode="TransportWithMessageCredential">
            <message algorithmSuite="Basic128" />
          </security>
        </binding>
        <binding name="Default6">
          <security mode="TransportWithMessageCredential">
            <message algorithmSuite="Basic128" />
          </security>
        </binding>
        <binding name="Default7">
          <security mode="TransportWithMessageCredential">
            <message algorithmSuite="Basic128" />
          </security>
        </binding>
        <binding name="Default8">
          <security mode="TransportWithMessageCredential">
            <message algorithmSuite="Basic128" />
          </security>
        </binding>
        <binding name="Default9">
          <security mode="TransportWithMessageCredential">
            <message algorithmSuite="Basic128" />
          </security>
        </binding>
        <binding name="Default10">
          <security mode="TransportWithMessageCredential">
            <message algorithmSuite="Basic128" />
          </security>
        </binding>
        <binding name="Default11">
          <security mode="TransportWithMessageCredential">
            <message algorithmSuite="Basic128" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="Z_MP_WS_DATAAGRO_DIRECTO">
          <mtomMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
        <binding name="Z_MP_WS_DATAAGRO_DIRECTO_soap12">
          <mtomMessageEncoding />
          <httpsTransport authenticationScheme="Basic" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://gvicpidev01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACION&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACIONBinding"
        contract="ContratosParaFijacion.SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACION"
        name="HTTP_Port5" />
      <endpoint address="https://gvicpidev01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACION&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACIONBinding1"
        contract="ContratosParaFijacion.SI_ZMPWS_DATAAGRO_CONTRATO_PEND_FIJACION"
        name="HTTPS_Port4" />
      <endpoint address="http://GSLOPIDEVQA00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_DISPONIBILIDAD_CUPOS&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DISPONIBILIDAD_CUPOSBinding"
        contract="DisponibilidadCupos.SI_ZMPWS_DATAAGRO_DISPONIBILIDAD_CUPOS"
        name="HTTP_Port17" />
      <endpoint address="https://GSLOPIDEVQA00.molinosagro.ad:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_DISPONIBILIDAD_CUPOS&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DISPONIBILIDAD_CUPOSBinding1"
        contract="DisponibilidadCupos.SI_ZMPWS_DATAAGRO_DISPONIBILIDAD_CUPOS"
        name="HTTPS_Port17" />
      <endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_ADMIN_CUPOS&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_ADMIN_CUPOSBinding"
        contract="AdministracionCupera.SI_ZMPWS_DATAAGRO_ADMIN_CUPOS"
        name="HTTP_Port23" />
      <endpoint address="https://gslopidevqa00.molinosagro.ad:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_ADMIN_CUPOS&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_ADMIN_CUPOSBinding1"
        contract="AdministracionCupera.SI_ZMPWS_DATAAGRO_ADMIN_CUPOS"
        name="HTTPS_Port24" />
      <endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_CONTRATO_CANJE_GENE&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_CONTRATO_CANJE_GENEBinding"
        contract="ContratosParaFijacionVirtual.SI_ZMPWS_DATAAGRO_CONTRATO_CANJE_GENE"
        name="HTTP_Port30" />
      <endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_REG_ORD_PROCESAMIENTO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_REG_ORD_PROCESAMIENTOBinding"
        contract="InformarFason.SI_ZMPWS_DATAAGRO_REG_ORD_PROCESAMIENTO"
        name="HTTP_Port31" />
      <endpoint address="https://gslopidevqa00.molinosagro.ad:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_REG_ORD_PROCESAMIENTO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_REG_ORD_PROCESAMIENTOBinding1"
        contract="InformarFason.SI_ZMPWS_DATAAGRO_REG_ORD_PROCESAMIENTO"
        name="HTTPS_Port31" />
      <endpoint address="https://gslopidevqa00.molinosagro.ad:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_ACUERDOS_GENERADOS&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_ACUERDOS_GENERADOSBinding1"
        contract="AcuerdosGenerados.SI_ZMPWS_DATAAGRO_ACUERDOS_GENERADOS"
        name="HTTPS_Port32" />
      <endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_VALIDAR_CANT_ACUERDO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_VALIDAR_CANT_ACUERDOBinding"
        contract="ValidarCantidadAcuerdo.SI_ZMPWS_DATAAGRO_VALIDAR_CANT_ACUERDO"
        name="HTTP_Port33" />
      <endpoint address="https://gslopidevqa00.molinosagro.ad:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_VALIDAR_CANT_ACUERDO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_VALIDAR_CANT_ACUERDOBinding1"
        contract="ValidarCantidadAcuerdo.SI_ZMPWS_DATAAGRO_VALIDAR_CANT_ACUERDO"
        name="HTTPS_Port33" />
      <endpoint address="http://scatoqa.molinosagro.com.ar/Scato.serviciosWeb/ServicioRepositorio.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioRepositorio"
        contract="ScatoRepositorio.IServicioRepositorio" name="BasicHttpBinding_IServicioRepositorio" />
      <endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_PRE_SLIP&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_PRE_SLIPBinding"
        contract="FinalizarContrato.SI_ZMPWS_DATAAGRO_PRE_SLIP" name="HTTP_Port3" />
      <endpoint address="https://gslopidevqa00.molinosagro.ad:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_PRE_SLIP&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_PRE_SLIPBinding1"
        contract="FinalizarContrato.SI_ZMPWS_DATAAGRO_PRE_SLIP" name="HTTPS_Port2" />
      <endpoint address="http://gslopidevqa00.molinosagro.ad:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATOBinding"
        contract="ModificarContratoFinalizado.SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATO"
        name="HTTP_Port14" />
      <endpoint address="https://gslopidevqa00.molinosagro.ad:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATO&amp;interfaceNamespace=namespace%3Adataagro"
        binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATOBinding1"
        contract="ModificarContratoFinalizado.SI_ZMPWS_DATAAGRO_MODIFICAR_CONTRATO"
        name="HTTPS_Port13" />
		<endpoint address="https://services.staging.confirma.com.ar:88/LoteDocumentosService.svc"
		  binding="basicHttpBinding" bindingConfiguration="Default" contract="ConfirmaQALoteDocumentos.ILoteDocumentosService"
		  name="Default" />
		<endpoint address="https://services.staging.confirma.com.ar:88/LoteDocumentosAsyncService.svc"
		  binding="basicHttpBinding" bindingConfiguration="Default1" contract="ConfirmaQALoteDocumentosAsync.ILoteDocumentosAsyncService"
		  name="Default1" />
		<endpoint address="https://services.staging.confirma.com.ar:88/ConsultaLoteService.svc"
		  binding="basicHttpBinding" bindingConfiguration="Default2" contract="ConfirmaQAConsultaLote.IConsultaLoteDocumentosService"
		  name="Default2" />
		<endpoint address="https://services.staging.confirma.com.ar:88/ConsultaDocumentosRegistradosService.svc"
		  binding="basicHttpBinding" bindingConfiguration="Default3" contract="ConfirmaQAConsultaDocumentosRegistrados.IConsultaDocumentosRegistradosService"
		  name="Default3" />
		<endpoint address="https://services.staging.confirma.com.ar:88/ConsultaDocumentoRegistradoPdfService.svc"
		  binding="basicHttpBinding" bindingConfiguration="Default4" contract="ConfirmaQAConsultaDocumentoRegistradoPdf.IConsultaDocumentoRegistradoPdfService"
		  name="Default4" />
		<endpoint address="https://services.staging.confirma.com.ar:88/ConsultaDocumentosControlFirmaXmlService.svc"
		  binding="basicHttpBinding" bindingConfiguration="Default5" contract="ConfirmaQAConsultaDocumentosControlFirmaXml.IConsultaDocumentosControlFirmaXmlService"
		  name="Default5" />
		<endpoint address="https://services.staging.confirma.com.ar:88/ConsultaDocumentosService.svc"
		  binding="basicHttpBinding" bindingConfiguration="Default6" contract="ConfirmaQAConsultaDocumentos.IConsultaDocumentosService"
		  name="Default6" />
		<endpoint address="https://services.staging.confirma.com.ar:88/ConsultaDocumentosItemClienteService.svc"
		  binding="basicHttpBinding" bindingConfiguration="Default7" contract="ConfirmaQAConsultaDocumentosItemCliente.IConsultaDocumentoItemClienteService"
		  name="Default7" />
		<endpoint address="https://services.staging.confirma.com.ar:88/ConsultaEmpresasService.svc"
		  binding="basicHttpBinding" bindingConfiguration="Default8" contract="ConfirmaQAConsultaEmpresas.IConsultaEmpresasService"
		  name="Default8" />
		<endpoint address="https://services.staging.confirma.com.ar:88/ConsultaTrackingInteraccionesFechaService.svc"
		  binding="basicHttpBinding" bindingConfiguration="Default9" contract="ConfirmaQAConsultaTrackingInteraccionesFecha.IConsultaDocumentoTrackingInteraccionesFechasService"
		  name="Default9" />
		<endpoint address="https://services.staging.confirma.com.ar:88/ConsultaDocumentosBorradorService.svc"
		  binding="basicHttpBinding" bindingConfiguration="Default10"
		  contract="ConfirmaQAConsultaDocumentosBorrador.IConsultaDocumentosBorradorService"
		  name="Default10" />
		<endpoint address="https://services.staging.confirma.com.ar:88/LoteBorradorService.svc"
		  binding="basicHttpBinding" bindingConfiguration="Default11"
		  contract="ConfirmaQALoteBorradorService.ILoteBorradorService"
		  name="Default11" />
      <endpoint address="http://vhmgkgaqci.sap.molinosagro.ad:8000/sap/bc/srt/rfc/sap/z_mp_ws_dataagro_directo/400/z_mp_ws_dataagro_directo/z_mp_ws_dataagro_directo"
        binding="customBinding" bindingConfiguration="Z_MP_WS_DATAAGRO_DIRECTO"
        contract="WS_GAQ_sin_PI.Z_MP_WS_DATAAGRO_DIRECTO" name="Z_MP_WS_DATAAGRO_DIRECTO" />
      <endpoint address="http://vhmgkgaqci.sap.molinosagro.ad:8000/sap/bc/srt/rfc/sap/z_mp_ws_dataagro_directo/400/z_mp_ws_dataagro_directo/z_mp_ws_dataagro_directo"
        binding="customBinding" bindingConfiguration="Z_MP_WS_DATAAGRO_DIRECTO_soap12"
        contract="WS_GAQ_sin_PI.Z_MP_WS_DATAAGRO_DIRECTO" name="Z_MP_WS_DATAAGRO_DIRECTO_soap12" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>