<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8" />
    {0}

</head>
<body>
    <table class="border" style="width: 100%; font-size: 14px;">
        <tr>
            <td>
                <b>Contrato N°: <label></label>{1}  V-{2}</b>
                <br />
                <div class="espacio"></div>
            </td>
        </tr>
        <tr>
            <td>
                <b>Vendedor: {4}</b>
                <br />
                {5}
            </td>
        </tr>
        <tr>
            <td>
                <b>Comprador: MOLINOS AGRO S.A.</b>
                <br />
                <b>CUIT: 30-71511877-3</b>
                <br />
            </td>
        </tr>
        {6}
    </table>

    <div class="espacio"></div>
    <div style="font-size: 13px;" class="cls_009"><span>BOLSA DE CEREALES DE BUENOS AIRES</span></div>
    <div style="font-size: 13px;" class="cls_009"><span>BOLETO DE COMPRA - VENTA DE CEREALES, OLEAGINOSAS </span></div>
    <div style="font-size: 13px;" class="cls_009"><span>Y DEMAS PRODUCTOS DE LA AGRICULTURA</span></div>

    <br />
    <div class="espacio"></div>
    <div style="font-size: 11px; text-align: center;">
        <span>(Fórmula oficial establecida por la Cámara Arbitral de la Bolsa de Cereales y emitido de acuerdo al art. 158 inc. a) de la Reglamentación General del CódigoFiscal t. o. 1965 - Decreto 1403/57 y modificatorios, de la Provincia de Buenos Aires.)</span>
    </div>
    <div class="espacio"></div>
    <div class="espacio"></div>
    <div class="espacio"></div>

    <table class="border cls_012" style="width:100%;">
        <tr class="noborder">
            <td class="noborder">
                {7}
            </td>
        </tr>
        <tr class="noborder">
            <td class="noborder">
                <div class="cls_008">
                    <div class="espacio"></div>
                    <div class="espacio"></div>
                    <span>
                        Fecha de concertación: {13}<br />
                        Fecha de instrumentación: .....................
                    </span> <br />
                    <div class="espacio"></div>
                    <div class="espacio"></div>
                    <span>
                        Observaciones: ..............................................................................................................................................
                    </span>
                    <div class="espacio"></div>
                    <div class="espacio"></div>
                    <div class="espacio"></div>
                    <div class="espacio"></div>
                    <span>
                        En prueba de conformidad, se firman cinco (5) ejemplares del presente contrato y a un solo efecto en la Ciudad de Buenos Aires.
                    </span>
                </div>
                <div class="espacio"></div>
                <div class="espacio"></div>
                <div class="espacio"></div>
                <div class="espacio"></div>
                <div class="espacio"></div>
                <div class="espacio"></div>
                <div class="espacio"></div>
                <table class="noborder" style="width:100%;">
                    <tr class="noborder" style="width:100%;">
                        <td class="cls_009 w33 noborder">__________________</td>
                        <td class="cls_009 w33 noborder">{8}</td>
                        <td class="cls_009 w33 noborder">__________________</td>
                    </tr>
                    <tr class="noborder" style="width:100%;">
                        <td class="cls_009 w33 noborder">P. Comprador</td>
                        <td class="cls_009 w33 noborder">{9}</td>
                        <td class="cls_009 w33 noborder">P. Vendedor</td>
                    </tr>
                    <tr class="noborder" style="width:100%;">
                        <td class="w33 noborder">&nbsp;</td>
                        <td class="w33 noborder">&nbsp;</td>
                        <td class="w33 noborder">&nbsp;</td>
                    </tr>
                    <tr class="noborder" style="width:100%;">
                        <td class="w33 cls_011 noborder" style="text-align: left;">Aclaración: _______________</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">{10}</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">Aclaración: _______________</td>
                    </tr>
                    <tr class="noborder" style="width:100%;">
                        <td class="w33 cls_011 noborder" style="text-align: left;">Cargo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Apoderado&nbsp;&nbsp;&nbsp;</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">{12}</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">Cargo:&nbsp;&nbsp; __________________</td>
                    </tr>
                    <tr class="noborder" style="width:100%;">
                        <td class="w33 cls_011 noborder" style="text-align: left;">DNI Nro:&nbsp; _________________</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">{11}</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">DNI Nro:&nbsp; _________________</td>
                    </tr>
                    <tr class="noborder" style="width:100%;">
                        <td class="w33 cls_011 noborder" style="text-align: left;">CUIT Nro:&nbsp; {14} </td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">{15} </td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">CUIT Nro:&nbsp; {16} </td>
                    </tr>
                </table>
                <div class="espacio"></div>
                <div class="espacio"></div>
                <div class="espacio"></div>
                <div class="espacio"></div>
                <div class="cls_008">
                    <span>
                        No se admitirán en este contrato enmiendas, raspaduras ni agregados si no están debidamente salvados, a excepción de la fecha, sobre la que no cabe correción alguna. 
                        Los ejemplares en poder de las partes contratantes deberán ser exactamente iguales al ejemplar que queda registrado en la Bolsa de Cereales de Buenos Aires. 
                        El correspondiente sellado de este contrato carece de valor si no se registra en la o las Instituciones Intervinientes.
                    </span>
                </div>
            </td>
        </tr>
    </table>
</body>
</html>

