


<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8" />
    {0}
</head>
<body>
    <table class="border" style="width:100%;">
        <tr class="noborder">
            <td style="width:25%;"></td>
            <td style="width:25%;"></td>
            <td style="width:25%;"></td>
            <td style="width:25%;"></td>
        </tr>
        <tr>
            <td colspan="3" class="">
                <img src="{BOLSAROSARIO_LOGO_URL}" width=75 height=71 />
                <span class="cls_002">DATOS DEL CONTRATO</span>
            </td>
            <td rowspan="3"><div class="cls_003">Nro. Registro</div></td>
        </tr>
        <tr>
            <td colspan="3" class="" style="font-family:Arial,serif;font-size:12.1px;color:rgb(255,255,255);font-weight:bold;font-style:normal;text-decoration: none;background-color:black;text-align: center;">
                Detalles del Contrato
            </td>
        </tr>
        <tr class="">
            <td class=" cls_005" style="">
                <b>Comprador</b>
                <label class=" cls_006">MOLINOS AGRO S. A.</label>
                <br />
                <b>Contrato: </b>
                <label class="cls_006">{1}</label>
                <br />
                <b>Versión: </b>
                <label class="cls_006">{2}</label>
            </td>
            <td class=" cls_005" style="">
                <!--<br /> -->
                <b>Vendedor</b>
                <br />
                <label class="cls_006">{3}</label>
                <br />
                <b>Contrato: </b>
                <label class="cls_006">{4}</label><br />
            </td>
            <td class=" cls_005 cls_005_top" style="">
                <b>Corredor </b><label class="cls_006">{5}</label>
                <br />
                <!--<b>Contrato: </b>
                <label class="cls_006">{6}</label>
                -->
            </td>
        </tr>
        <tr class="">
            <td class=" cls_005" style="" colspan="2">
                <b>Vendedor: </b><label class="cls_006">{7}</label><br />
                <b>Corredor: </b><label class="cls_006">{8}</label><br />
                <b>Comprador: </b><label class="cls_006">Molinos  Agro</label><br />
                <b>Producto: </b><label class="cls_006">{9}</label> <br />
                <b>Cosecha: </b><label class="cls_006">{10}</label><br />
                <b>Cantidad(kg.): </b><label class="cls_006">{11}</label> <br />
                <b>Precio + IVA: </b><label class="cls_006">{12}</label> <br />
                <b>Procedencia: </b><label class="cls_006">{13}</label> <br />
                <b>Destino/Puerto: </b><label class="cls_006">{14}</label> <br />
                <b>Cantidad de Copias: </b>
                <label class="cls_006">{15}</label>
            </td>
            <td class="cls_005 cls_005_top" style="">
                <b>CUIT Nro. </b><label class="cls_006">{16}</label> <br />
                <b>CUIT Nro. </b><label class="cls_006">{17}</label> <br />
                <b>CUIT Nro. </b><label class="cls_006">30-71511877-3</label> <br />
            </td>
            <td class="cls_005" style="">
                <b class="">Imp. De la operación</b> <br />
                <b class="">Impuesto de Sellos:</b> <br />
                <b class="">Recargo s/impuestos</b> <br />
                <b class="">Derecho Bolsa</b> <br />
                <b class="">Rec. Der. Bolsa</b> <br />
                <b class="">Adicional Término</b> <br />
                <b class="">Copias</b><br /><br />
                <b style="font-size: 11.1px;">Total ______________</b> <br />
            </td>
        </tr>
    </table>

    <div class="espacio"></div>
    <div style="" class="cls_009"><span class="cls_009">Bolsa de Comercio de Rosario</span></div>
    <div style="" class="cls_009"><span class="cls_009">{18}</span></div>
    <div class="espacio"></div>

    <table class="border cls_012" style="width:100%;">
        <tr class="noborder">
            <td class="noborder">
                {19}
            </td>
        </tr>
        <tr class="noborder">
            <td class="noborder">
                <div class="espacio"></div>
                <div style="" class=""><span class="cls_006">OPERACIÓN CONCERTADA EL {20}</span></div>
                <div class="espacio"></div>
                <div class="espacio"></div>
                {27}
                <div style="" class=""><span class="cls_006">OPERACIÓN INSTRUMENTADA EL DÍA: ________________</span></div>
                <div class="espacio"></div>

                <div style="" class=""><span class="cls_006">EN LA CIUDAD DE ROSARIO (SANTA FE), FIRMÁNDOSE CINCO ({21}) EJEMPLARES DE UN MISMO TENOR Y A UN SOLO EFECTO.</span></div>
                <div class="espacio"></div>
                <div class="espacio"></div>
                <div class="espacio"></div>
                <div class="espacio"></div>
                <div class="espacio"></div>

                <table class="noborder" style="width:100%;">
                    <tr class="noborder" style="width:100%;">
                        <td style="text-align: center;" class="cls_009 w33 noborder">__________________</td>
                        <td style="text-align: center;" class="cls_009 w33 noborder">{22}</td>
                        <td style="text-align: center;" class="cls_009 w33 noborder">__________________</td>
                    </tr>
                    <tr class="noborder" style="width:100%;">
                        <td style="text-align: center;" class="cls_009 w33 noborder">P. el Comprador</td>
                        <td style="text-align: center;" class="cls_009 w33 noborder">{23}</td>
                        <td style="text-align: center;" class="cls_009 w33 noborder">P. el Vendedor</td>
                    </tr>
                    <tr class="noborder" style="width:100%;">
                        <td class="w33 cls_011 noborder" style="text-align: left;">Aclaración: _____________</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">{24}</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">Aclaración: _____________</td>
                    </tr>
                    <tr class="noborder" style="width:100%;">
                        <td class="w33 cls_011 noborder" style="text-align: left;">DNI Nro:&nbsp; _______________</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">{25}</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">DNI Nro:&nbsp; _______________</td>
                    </tr>
                    <tr class="noborder" style="width:100%;">
                        <td class="w33 cls_011 noborder" style="text-align: left;">CUIT Nro.: 30-71511877-3</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">{26}</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">CUIT Nro.: _____________</td>
                    </tr>
                </table>

                <div class="espacio"></div>

                <div style="" class=""><span class="cls_006">La Cámara Arbitral de Cereales de la Bolsa de Comercio de Rosario no intervendrá en inguna cuestión que se suscite como consecuencia del presente boleto si el mismo no está registrado en la Bolsa de Comercio de Rosario.</span></div>
                <div style="" class=""><span class="cls_006">No se admitirán en este boleto enmiendas, raspaduras ni agregados, si no están debidamente salvados, a excepción de la fecha sobre la cual no cabe correción alguna. Los ejemplares en poder de las partes contratantes deberán ser exactamente iguales al ejemplar que queda registrado en la Bolsa de Comercio de Rosario.</span></div>
            </td>
        </tr>
    </table>
</body>
</html>