<html>

<head>
    <meta http-equiv=Content-Type content="text/html; charset=UTF-8" />
    {0}

</head>

<body>
    <table class="border" style="width:100%">
        <tr>
            <td>
                <b>Contrato N°: <label></label>{1}  {2}</b>
                <br />
                <b>Comprador: MOLINOS AGRO S.A.</b>
                <br />
                <b>CUIT: 30-71511877-3</b>
            </td>
        </tr>
        <tr>
            <td>
                <b>Contrato N°: {3}</b>
                <br />
                <b>Vendedor: {4}</b>

                <br />
                <b>CUIT: {5}</b>
            </td>
        </tr>
        {6}
    </table>

   <div class="espacio"></div>
    <div style="" class="cls_009"><span class="cls_009">BOLSA DE CEREALES DE BUENOS AIRES</span></div>
    <div style="" class="cls_009"><span class="cls_009">BOLETO DE COMPRA - VENTA DE CEREALES, OLEAGINOSAS </span></div>
    <div style="" class="cls_009">
        <span class="cls_009">
            Y DEMAS PRODUCTOS DE LA AGRICULTURA
        </span>
    </div>

    <br />
    <div style="font-size: 11px"><span>(Fórmula oficial establecida por la Cámara Arbitral de la Bolsa de Cereales y emitido de acuerdo al art. 158 inc. a) de la Reglamentación General del CódigoFiscal t. o. 1965 - Decreto 1403/57 y modificatorios, de la Provincia de Buenos Aires.)</span></div>
    <div class="espacio"></div>

    <table class="border cls_008" style="width:100%;">
        <tr class="noborder">
            <td class="noborder">
                {7}
            </td>
        </tr>
        <tr class="noborder">
            <td class="noborder">
                <table class="noborder" style="width:100%;">
                    <tr class="noborder" style="width:100%;">
                        <td style="text-align: center;" class="cls_009 w33 noborder">__________________</td>
                        <td style="text-align: center;" class="cls_009 w33 noborder">{8}</td>
                        <td style="text-align: center;" class="cls_009 w33 noborder">__________________</td>
                    </tr>
                    <tr class="noborder" style="width:100%;">
                        <td style="text-align: center;" class="cls_009 w33 noborder">P. el Comprador</td>
                        <td style="text-align: center;" class="cls_009 w33 noborder">{9}</td>
                        <td style="text-align: center;" class="cls_009 w33 noborder">P. el Vendedor</td>
                    </tr>
                    <tr class="noborder" style="width:100%;">
                        <td class="w33 cls_011 noborder" style="text-align: left;">Aclaración: _____________</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">{10}</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">Aclaración: _____________</td>
                    </tr>
                    <tr class="noborder" style="width:100%;">
                        <td class="w33 cls_011 noborder" style="text-align: left;">DNI Nro:&nbsp; _______________</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">{11}</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">DNI Nro:&nbsp; _______________</td>
                    </tr>
                    <tr class="noborder" style="width:100%;">
                        <td class="w33 cls_011 noborder" style="text-align: left;">CUIT Nro.: 30-71511877-3</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">{12}</td>
                        <td class="w33 cls_011 noborder" style="text-align: left;">CUIT Nro.: _____________</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>

