<!DOCTYPE html>

<html>
<head>
    <meta http-equiv=Content-Type charset="utf-8" />
    {0}
</head>
<body>
    <header>
        <table class="noborder" style="width:100%; font-weight:bold">
            <tr class="noborder">
                <td style="width:25%;border: 0px"></td>
                <td style="width:25%;border: 0px"></td>
                <td style="width:25%;border: 0px"></td>
                <td style="width:25%;border: 0px"></td>
            </tr>
            <tr class="">
                <td class=" cls_006" style="border: 0px">
                    <b>Fecha: </b>
                    <label class="cls_006"><b>{1}</b></label>
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
            </tr>
            <tr class="">
                <td class=" cls_006" style="border: 0px">
                    <b>Señores: MOLINOS AGRO S.A.</b>
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
            </tr>
            <tr class="">
                <td class=" cls_006" style="border: 0px">
                    <b>CUIT: 30-71511877-3</b>
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
            </tr>
            <tr class="">
                <td class=" cls_006" style="border: 0px">
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
                <td class=" cls_006" style="border: 0px">
                    <b>Oferta N° </b>
                    <label class="cls_006"><b>{2}</b></label>
                </td>
            </tr>
        </table>
    </header>
    <article>
        <div class="espacio"></div>
        <div class="espacio"></div>
        <div style="" class="cls_006"><span class="cls_006">De nuestra consideración:</span></div>
        <div class="espacio"></div>

        <div style="" class="">
            <span class="cls_006">
                Quien suscribe en representación de {3} (en adelante el vendedor) CUIT {4} domiciliados en {5} de la Provincia de
                {6}, CP. {7}, por intermedio de {8} CUIT {9} se dirige a MOLINOS AGRO S.A., domiciliado en Bouchard 680, piso 12° de la
                ciudad de Buenos Aires (en adelante el comprador), a los efectos de formularle una oferta granos irrevocable de venta de (en adelante denominada "Oferta").
            </span>
        </div>
        <div class="espacio"></div>
        <div style="" class=""><span class="cls_006">En caso de se aceptada por Uds. de manera expresa y dentro de los diez (10) días de recibida, la presente Oferta habrá de regirse por las reglas que se enuncian a continuación, a saber:</span></div>
        <br />
        <div class="espacio"></div>
        <div class="cls_clausulas">
            <ol>
                {10}
            </ol>
        </div>
        <br />
    </article>
    <div class="espacio"></div>
    <div class="espacio"></div>
    <div class="espacio"></div>
    <footer style="position:absolute; text-align:center; display:block">
        <table class="noborder" style="width:100%;font-weight:bold">
            <tr class="noborder">
                <td style="width:17%;border: 0px"></td>
                <td style="width:23%;border: 0px"></td>
                <td style="width:20%;border: 0px"></td>
                <td style="width:23%;border: 0px"></td>
                <td style="width:17%;border: 0px"></td>
            </tr>
            <tr>
                <td class=" cls_006" style="border: 0px">
                </td>
                <td class=" cls_006" style="border: 0px solid; border-top:1px solid !important; padding-top:4px">
                    <b>FIRMA VENDEDOR</b>
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
                <td class=" cls_006" style="border: 0px solid; border-top: 1px solid !important; padding-top: 4px">
                    <b>FIRMA CORREDOR</b>
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
            </tr>
            <tr class="" style="margin-top:10px">
                <td class=" cls_006" style="border: 0px">
                </td>
                <td class=" cls_006" style="border: 0px">
                    <b>Aclaración: ____________________</b>
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
                <td class=" cls_006" style="border: 0px">
                    <b>Aclaración: ____________________</b>
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
            </tr>
            <tr class="">
                <td class=" cls_006" style="border: 0px">
                </td>
                <td class=" cls_006" style="border: 0px">
                    <b>DNI: __________________________</b>
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
                <td class=" cls_006" style="border: 0px">
                    <b>DNI: __________________________</b>
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
            </tr>
            <tr class="">
                <td class=" cls_006" style="border: 0px">
                </td>
                <td class=" cls_006" style="border: 0px">
                    <b>CUIT: _________________________</b>
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
                <td class=" cls_006" style="border: 0px">
                    <b>CUIT: _________________________</b>
                </td>
                <td class=" cls_006" style="border: 0px">
                </td>
            </tr>
        </table>
    </footer>
</body>
</html>