<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="DataAgro" connectionString="Data Source=192.168.0.39;Initial Catalog=DataAgro;User ID=sa;Password=drowssap" providerName="System.Data.SqlClient" />-->

    <!--<add name="DataAgro" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=DataAgro;Data Source=WIN-7C3SHTHPHCV\SQL2014EX" providerName="System.Data.SqlClient" />-->
    <add name="DataAgro" connectionString="User ID=sa;Password=123;Initial Catalog=DataAgroParaProbar;Data Source=DESARROLLO08\SQLEXPRESS" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <appSettings>
    
    <!--<add key="Rg2300" value="\\msmain\Usuarios\Fabian\RG2300.lst"/>
    <add key="Facacop" value="\\msmain\Usuarios\Fabian\Facacop.txt"/>-->

    <add key="Rg2300" value="\\sapprgap\ftproot\transf\matprim\RG2300.LST"/>
    <add key="Facacop" value="\\sapprgap\ftproot\transf\matprim\facacop.txt"/>
         
         
    <add key="SapUser" value="GWEBSRV_DAGR" />
    <add key="SapPass" value="Dataagro2017" />
    <add key="SinConexionSap" value="0" />
    <add key="ValorPruebaSap" value="0" />
    <add key="SapPruebaCUIT" value="30708820950" />
    <add key="SapPruebaUser" value="VARGASF" />
    <add key="RiesgoComercialAltoSap" value="a" />
    <add key="SitNoIncluida" value= "no incluido"/>
    <add key="SitExcluido" value="excluido" />
    <add key="SitSuspendido" value="suspendido" />
    <add key="pathError" value="C:\Errores\" />
    <add key="ProcessFacacop" value="1" />
    <add key="ProcessRg2300" value="1" />
    <add key="ProcessEstado" value="1" />
    <add key="ProcessCompras" value="1" />
    
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>

      <customBinding>
        <binding name="SI_ZMPWS_DATAAGRO_DATOS_Binding"  closeTimeout="00:05:00"
          openTimeout="00:05:00" receiveTimeout="00:20:00" sendTimeout="00:20:00" >
          <textMessageEncoding messageVersion="Soap11" />
          <httpTransport authenticationScheme="Basic" maxReceivedMessageSize="2000000000"/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_DATOS_COMPRAS&amp;interfaceNamespace=namespace%3Adataagro"
          binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding"
          contract="Compras.SI_ZMPWS_DATAAGRO_DATOS_COMPRAS" name="HTTP_Port" />
      <!--<endpoint address="https://gvicpiqa01.ar.molinos.local:50001/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_DATOS_COMPRAS&amp;interfaceNamespace=namespace%3Adataagro"
          binding="basicHttpBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_COMPRASBinding1"
          contract="Compras.SI_ZMPWS_DATAAGRO_DATOS_COMPRAS" name="HTTPS_Port" />-->

      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_RIESGO_COMERCIAL&amp;interfaceNamespace=namespace%3Adataagro"
          binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding"
          contract="RiesgoComercial.SI_ZMPWS_DATAAGRO_RIESGO_COMERCIAL"
          name="HTTP_Port" />
      <endpoint address="http://gvicpiqa01.ar.molinos.local:50000/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_DATAAGRO&amp;receiverParty=&amp;receiverService=&amp;interface=SI_ZMPWS_DATAAGRO_DATOS_PROVEEDOR&amp;interfaceNamespace=namespace%3Adataagro"
          binding="customBinding" bindingConfiguration="SI_ZMPWS_DATAAGRO_DATOS_Binding"
          contract="DatosDelProveedor.SI_ZMPWS_DATAAGRO_DATOS_PROVEEDOR"
          name="HTTP_Port" />

    </client>
  </system.serviceModel>
</configuration>